<article id="confirm-step" class="not-first-step">
  <header>
    <div class="notif preview">
      <a id="edit-button" class="edit sim_act">← Edit</a>
      <div class="notif_wrap">
        <h3>Question Preview</h3>
        <p>Make sure to read it over and make sure everything is just right!</p>
      </div>
    </div>

    <h4>
      <% if person.present? %>
        <span class="emph">Question for:</span> <span id="confirm-person-name"><strong><%= link_to question.person.name, person_path(@jurisdiction.abbreviation, question.person.id) %></strong></span>
        <span id="confirm-person-attributes">(<%= person_attributes(question.person) %>)</span>
      <% else %>
        <span class="emph">Question for:</span> <span id="confirm-person-name"></span>
        <span id="confirm-person-attributes"></span>
      <% end %>

      <% if bill -%>
        <span class="emph">on:</span> <span id="confirm-bill-title"><strong><%= link_to short_bill_title(bill), bill_path(@jurisdiction.abbreviation, bill.id) %></strong></span>
      <% else -%>
        <span class="emph" style="display:none;">on:</span> <span id="confirm-bill-title"></strong></span>
      <% end -%>
    </h4>

    <h1 id="confirm-question-title"><%= question.title %></h1>
  </header>
  <%= simple_format(question.body, id: 'confirm-question-body') %>
  <% if question.subject.present? %>
    <p id="confirm-issue">Issue: <span id="confirm-issue-value"><%= question.subject -%></span></p>
  <% else %>
    <p style="display:none;" id="confirm-issue">Issue: <span id="confirm-issue-value"></span></p>
  <% end %>
  <span class="author_wrap">
    <span class="posted">Posted by</span>
    <span class="author">
      <% if question.user.image? %>
      <%= image_tag(question.user.image.url, size: '40x40', alt: '') %>
      <% end %>
      <%= question.user.alternate_name %>
      <% unless question.user.alternate_name.present? %>
        <span class="firstname"></span>
        <span class="lastname"></span>
      <% end %>
    </span>
  </span>

  <div class="controls"><%= f.submit 'Publish', class: 'cta-pill' %></div>
</article>
