<article id="content-step" <%= step_class_for(step, relevant_steps) -%>>
  <header>
    <h1 class="action">Ask a Question</h1>
    <span class="ref"><span class="emph">To:</span>
      <span id="content-person-name"><%= "#{person.name}," if person -%></span>
      <% if bill -%>
        <span class="emph">re:</span> <span class="bill-title"><%= short_bill_title(bill) -%></span>
      <% end -%>
    </span>
  </header>
  <fieldset>
    <label for="question_title"></label>
    <div class="count">
      <span class="summary_count">60</span>
      <%= f.text_field :title, placeholder: raw('Summary&hellip;'), maxlength: '60', validate: true %>
    </div>

    <label for="question_body">Full Question
      <span class="details">Why is this important? Give it your all!</span>
    </label>
    <%= f.text_area :body, placeholder: raw('Go on&hellip;'), cols: '30', rows: '10', validate: true %>

    <label for="issue_area">Select an issue area
      <span class="opt">(optional)</span>
    </label>

    <div class="input select icon-angle-down sculpt">
      <% subject_options = raw('<option value="">Select an Issue</option>') + options_for_select(Subject.all) -%>
      <%= f.select :subject, subject_options %>
    </div>
  </fieldset>
</article>
