<div class="progress">
  <div class="actions scroll_this">
    <h4>Your Question</h4>
    <div class="row">
      <div class="question_progress">
        <div class="progress_filler" style="width: 0%;"> </div>
      </div>
      <span class="question_progress_count">
        <strong>0</strong> out of <strong>500</strong> Signatures
      </span>
    </div>
    <% if person %>
      <div class="row">
        <ul class="recipient">
          <li>
            <div class="avatar">
              <% if person.image? %>
                <%= cdn_image_tag(person.image, size: '80x80', alt: '', class: 'person_photo') %>
              <% else %>
                <%= image_tag('http://lorempixel.com/130/130/', size: '130x130', alt: '') %>
              <% end %>
            </div>

            <div class="person-info">
              <h2><%= person.name -%></h2>
              <span class="jurisdiction"><%= person_attributes(person) -%></span>
            </div>
          </li>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="question_preview">
        <% if question.title.present? && question.body.present? %>
          <h5><%= question.title -%></h5>
          <p><%= question.body -%></p>
        <% else%>
          <h5 class="empty">Nothing yet&hellip;</h5>
        <% end %>
      </div>
    </div>
    <!--
      If issue is selected, otherwise add "last" class to .row above
    -->
    <% if question.subject.present? %>
      <div class="row last">
        <div class="question_issue">
          <span>Issue: <strong><%= question.subject -%></strong></span>
        </div>
      </div>
    <% end %>
    <% if step_details[:number] == step_details[:total] %>
      <%= f.submit 'Publish', class: 'cta_pill' %>
    <% else %>
      <%= f.submit 'Next', class: 'cta_pill' %>
    <% end %>
    <span class="count"><%= step_details[:number] %> of <%= step_details[:total] %></span>
  </div>
</div>