<li>
  <div class="question_content">
    <%= link_to question_path(@jurisdiction.abbreviation, question.id), class: 'title' do %>
      <%= question.title %>
      <span class="icon-angle-right view"></span>
    <% end %>
    <p>
      <%= truncate(question.body, length: 160) %>
      <% if question.bill_id? %>
        <span class="context">
          &rarr; about <%= question.bill.bill_id %>
        </span>
      <% end %>
    </p>
    <span class="target">
      <%= link_to user_path(question.user) do %>
        <% if question.user.image? %>
          <%= image_tag(question.user.image.url, size: '20x20', alt: '') %>
        <% end %>
        <%= question.user.alternate_name %>
      <% end %>

      <span class="to">&rarr;</span>

      <%= link_to person_path(@jurisdiction.abbreviation, question.person), class: 'recipient' do %>
        <% if question.person.image? %>
          <%= cdn_image_tag(question.person.image, size: '20x20', alt: '') %>
        <% end %>
        <%= question.person.name %>
      <% end %>
    </span>
  </div>
  <ul class="activity">
    <li>
      <div class="question_progress">
        <div class="progress_filler" style="width: <%= question_progress_percent(question) %>%;"></div>
      </div>
      <span class="question_progress_count">
        <strong><span class="question-signatures" data-signature-question-id="<%= question.id %>"><%= question.signature_count -%></span></strong>
        out of
        <strong><span class="question-signature-threshold"><%= question.person.signature_threshold -%></span></strong>
        Signatures
      </span>
    </li>
  </ul>
  <% if current_user.question_signed question.id %>
    <a class='sign_on'>Signed On</a>
  <% else %>
    <%= link_to 'Sign On', '#', class: 'sign_on sign-on-user', :'data-question-id' => question.id %><%# @todo link to remote %>
  <% end %>
  <div class="clear"></div>
</li>
