<article id="recipient-step" <%= step_class_for(step, relevant_steps) -%>>
  <header>
    <h1 class="action">Who should answer this question?</h1>
    <% if bill -%>
      <span class="ref"><span class="emph">re:</span> <span class="bill-title"><%= short_bill_title(bill) -%></span></span>
    <% end -%>
  </header>

  <span class="toggle">
    <span>Locate by:</span>
    <a href="#address_lookup" class="select active address_lookup mobile">Your Address</a>
    <a class="select active address_lookup">
      <i class="icon-home"></i> Your Address
    </a>
    <a name="address_lookup" class="anchor"></a>
    <span>or</span>
    <a href="#twitter_find" class="select twitter twitter_lookup mobile">Their Twitter Name</a>
    <a class="select twitter">
      <i class="icon-twitter"></i> Their Twitter Name
    </a>
    <a name="twitter_find" class="anchor"></a>
  </span>

  <div class="data_collection_form">
    <div class="address_lookup">
    <span class="secure">
      <i class="icon-lock"></i> Your address information is private and safe!
    </span>
    <a href="/users/sign_in" class="login-link">Already have an AskThem account? Login.</a>

      <fieldset class="last">
        <%= f.fields_for :user do |user_form| %>

        <div class="pill_wrap">
          <label for="question_user_attributes_street_address" class="lesser">Address</label>
          <%= user_form.text_field :street_address, placeholder: 'Street Address' %>
        </div>
        <div class="pill_wrap">
          <label for="question_user_attributes_locality" class="lesser">City</label>
          <%= user_form.text_field :locality, placeholder: 'City' %>
        </div>
        <div class="pill_wrap">
          <label for="question_user_attributes_region" class="lesser">State</label>
          <div class="input select sculpt icon-angle-down">
            <%= user_form.select :region, options_for_select(OpenGovernment::STATES, @state_code), placeholder: 'Select your state' %>
          </div>
        </div>
        <div class="pill_wrap">
          <label for="question_user_attributes_postal_code" class="lesser">Zipcode</label>
          <%= user_form.text_field :postal_code, placeholder: 'ex. 02141' %>
        </div>
        <% end %>
      </fieldset>

      <label for="question_person_id" class="select-person" style="display:none;">Recipient
        <span class="details">We'll find your elected officials, then you can select who you'd like to receive the question:</span>
      </label>

      <div class="loading" style="display:none;">Loading...</div>

      <% unless local? -%>
        <ul class="people-type" style="display:none;">
          <li class="active" id="federal-people">
            <a href="#federal_address_lookup"><%= @jurisdiction['name'] %> Federal</a>
            <i class="icon-angle-down"></i>
          </li>
          <li id="state-people">
            <a href="#state_address_lookup"><%= @jurisdiction['name'] %> State</a>
            <i class="icon-angle-down"></i>
          </li>
        </ul>
      <% end -%>

      <fieldset class="person-selector">
        <ol class="people-list select-person">
          <!-- will be populated by address_lookup -->
        </ol>
      </fieldset>
    </div>

    <div class="twitter" style="display:none;">
      <label for="question">
        <span class="details">Ask a question to any verified Twitter account.</span>
      </label>
      <fieldset>
        <div class="inline_label to">
          <input type="text" name="twitter" id="twitter" placeholder="Enter a name or verified twitter account" />
        </div>
        <ol class="people-list select-person twitter">
          <li style="display:none;" class="selected">
            <div class="select_box">
              <input type="radio" name="person-select" id="" />
            </div>
            <div class="avatar">
              <img src="" alt="" />
            </div>
            <h2></h2>
            <div class="person-info">
              <p></p>
            </div>
            <span class="selected icon-ok-sign"></span>
          </li>
        </ol>
      </fieldset>
    </div>
  </div>
</article>
