<article id="sign-up-step" <%= step_class_for(step, relevant_steps) -%>>
  <%- if !@from_partner %>
    <header>
      <h1 class="action">Your Profile</h1>
    </header>
    <label for="question">Personal info
      <span class="details">Tell us a little bit about yourself!</span>
    </label>
  <%- else %>
    <label for="question">
      Your email address is required to send your question and to share the results with you.
    </label>
  <%- end %>

  <fieldset>
    <%= f.fields_for :user do |user_form| %>
      <%- unless @from_partner %>
        <label for="firstname" class="lesser">First Name</label>
        <%= user_form.text_field :given_name, placeholder: 'John' %>

        <label for="lastname" class="lesser">Last Name</label>
        <%= user_form.text_field :family_name, placeholder: 'Doe' %>
      <%- end %>

      <label for="email" class="lesser">Email</label>
      <%= user_form.text_field :email, placeholder: 'john.doe@gmail.com' %>

      <%- unless @from_partner %>
        <label for="password" class="lesser">Choose a Password</label>
        <%= user_form.password_field :password %>
      <%- end %>

      <% if !relevant_steps.include?('recipient') && !@from_partner %>
        <label for="street" class="lesser">Address</label>
        <%= user_form.text_field :street_address, placeholder: 'Street Address' %>

        <label for="city" class="lesser">City</label>
        <%= user_form.text_field :locality, placeholder: 'City' %>

        <label for="state" class="lesser">State</label>

        <div class="input select sculpt icon-angle-down">
          <%= user_form.select :region, options_for_select(OpenGovernment::STATES, @state_code), placeholder: 'Select your state' %>
        </div>

        <label for="zipcode" class="lesser">Zipcode</label>
        <%= user_form.text_field :postal_code, placeholder: 'ex. 02141' %>
      <% end %>
    <% end %>
  </fieldset>

  <%- if !@from_partner || @referring_partner_info[:name] != "HonestAds" %>
    <a href="/users/sign_in" class="push">Already have an AskThem account? Login.</a>
  <%- end %>
</article>
