<%= render 'shared/navigation' %>

<section class="questions listings">
  <header>
    <h1>Questions</h1>
    <%= link_to 'Ask a Question', new_question_path(@jurisdiction.id), class: 'cta_pill' %>
  </header>
  <div class="filters">
    <span class="info">Filter by:</span>
    <ul class="menu">
      <li class="selected">District <span class="icon-angle-down"></span></li>
      <li class="menu">
        <ul>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
        </ul>
      </li>
    </ul>
    <ul class="menu">
      <li class="selected">Official <span class="icon-angle-down"></span></li>
      <li class="menu">
        <ul>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
        </ul>
      </li>
    </ul>
    <div class="search">
      <input type="text" name="" id="" placeholder="Search state" />
      <input type="submit" value="" />
    </div>
  </div>
  <ol class="questions">
    <% 5.times do %>
      <li>
        <div class="question_content">
          <%= link_to 'Why have this thing for act for what? <span class="icon-angle-right view"></span>'.html_safe, '/questions/show', class: 'title' %>
          <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do  tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor  ut&hellip; <span class="context">&rarr; in Pennsylvania Bills</span></p>
          <span class="target">
            <%= link_to image_tag('http://lorempixel.com/40/40/people/', size: '20x20', alt: '') + 'Steve T', '#' %>
            <span class="to">&rarr;</span>
            <%= link_to image_tag('http://lorempixel.com/40/40/people/', size: '20x20', alt: '') + 'Roger Smith, Councilmember, Ward 7', '#', class: 'recipient' %>
          </span>
        </div>
        <ul class="activity">
          <li><%= link_to '25 Signatures', '#', class: 'support'%></li>
        </ul>
        <a href="#" class="sign_on">Sign On</a>
        <div class="clear"></div>
      </li>
    <% end %>
  </ol>
</section>
