<%= render 'shared/navigation' %>

<section class="questions listings">
  <div class="filters">
    <span class="info">Show:</span><%# @todo DM are these really the filters we're using? %>

    <%= link_to questions_path(filter: 'need-signatures'), :class => 'radio_button filter inactive', remote: true do %>
      <span class="use"></span>
      Need Signatures
    <% end %>

    <%= link_to questions_path(filter: 'have-answers'), :class => 'radio_button filter inactive', remote: true do %>
      <span class="use"></span>
      Have Answers
    <% end %>

    <%= link_to questions_path(filter: 'need-answers'), :class => 'radio_button filter inactive', remote: true do %>
      <span class="use"></span>
      Need Answers
    <% end %>

    <%= link_to questions_path(filter: 'recent'), :class => 'radio_button filter inactive', remote: true do %>
      <span class="use"></span>
      Recent
    <% end %>

    <div class="search"><%# @todo DM full-text search within state? %>
      <input type="text" name="" id="" placeholder="Search state">
      <input type="submit" value="">
    </div>
  </div>

  <%= render partial: 'page' %>
</section>
