<section class="question preview">
  <article>
    <header>
      <div class="notif preview">
        <%= link_to 'â† Edit', new_question_path(@jurisdiction.abbreviation), class: 'edit sim_act' %>
        <div class="notif_wrap">
          <h3>Question Preview</h3>
          <p>Make sure to read it over and make sure everything is just right!</p>
        </div>
      </div>
      <h2>
        To <strong><%= @question.person.name %></strong>
        <span>(<%= person_attributes(@question.person) %>)</span>
      </h2>
      <% if @question.bill_id? %>
      <h2>
        On <strong><%= short_bill_title(@question.bill) %></strong>
      </h2>
      <% end %>
      <h1><%= @question.title %></h1>
    </header>
    <%= simple_format(@question.body) %>
    <span class="author_wrap">
      <span class="posted">Posted by</span>
      <span class="author">
        <% if @question.user.image? %>
          <%= image_tag(@question.user.image.url, size: '40x40', alt: '') %>
        <% end %>
        <%= @question.user.alternate_name %>
      </span>
    </span>
  </article>
  <%= render partial: 'shared/question_progress' %>
  <%# link_to 'Publish', question_path(@jurisdiction.abbreviation, '1'), class: 'cta_pill' %><%# @todo %>
</section>
