<%= render 'shared/navigation' %>

<section class="question">
  <article>
    <header>
      <h4>
        <span class="emph">To:</span>
        <% if @question.person.image? %>
          <%= cdn_image_tag(@question.person.image, size: '30x30', alt: '', class: 'official-image avatar-image') %>
        <% end %>
        <strong><%= link_to @question.person.name, person_path(@jurisdiction.abbreviation, @question.person.id) %></strong>
        <% if @question.person.verified? -%>
          <i class='icon-ok-sign is-verified'><span> AskThem Verified</span></i>
        <% end -%>
        <span class="official-info">(<%= person_attributes(@question.person) %>)</span>
        <% if @question.bill_id? %>
          <span class="emph">on:</span>
          <strong><%= link_to short_bill_title(@question.bill), bill_path(@jurisdiction.abbreviation, @question.bill.id) %></strong>
        <% end %>
      </h4>
      <h1><%= @question.title %></h1>
    </header>
    <%= simple_format(@question.body) %>
    <span class="author_wrap">
      <%# HACK: issued_at set to created_at until issued_at is sorted out -%>
      <%# TODO: take out issued_at set to created_at -%>
      <% @question.issued_at = @question.created_at unless @question.issued_at.present? -%>
      <span class="posted">Posted <%= time_tag @question.issued_at, l(@question.issued_at.to_date, format: :long), 'data-time-ago' => @question.issued_at.iso8601 %> by</span>
      <span class="author">
        <%= link_to user_path(@question.user) do %>
          <% if @question.user.image? %>
            <%= image_tag(@question.user.image.url, size: '30x30', alt: '', class: 'avatar-image') %>
          <% end %>
          <%= @question.user.alternate_name %>
        <% end %>, of <%= @question.user.locality -%>, <%= @question.user.region.upcase -%>
      </span>
    </span>

    <% if @question.answered? %>
      <div class="recipient_answer recipient">
        <div class="avatar">
          <%= cdn_image_tag(@question.person.image, size: '130x130', alt: '') %>
        </div>
        <div class="person-info">
          <h2><%= @question.person.name %></h2>
          <span class="jurisdiction"><%= person_attributes @question.person %></span>
          <span class="stats">
            <span><%= pluralize @question.person.questions.length, 'Question' %></span>
            <span><%= pluralize @question.person.questions_answered.length, 'Answer' %></span>
          </span>
        </div>
        <p><%= @question.answers.first.text %></p>

        <span class="pubdate"><time datetime="<%= @question.answers.first.created_at.strftime "%Y-%m-%d" %>" pubdate><%= @question.answers.first.created_at.strftime "%B #{@question.answers.first.created_at.day.ordinalize} %Y" %><sup><%= @question.answers.first.created_at.strftime "%I:%M%p" %></sup></time></span>
      </div>
    <% elsif @user.has_role?(:responder, @question.person)%>
      <!-- <a href="#sign_on_q" class="mobile_cta cta-pill">Sign On</a> <%# @todo JM - mobile sign on button, if logged in this button should sign the question, otherwise it should send the user to the anchored form %> -->
      <div class='recipient-answer-form'>
        <h2>Answer this Question as <strong><%= @question.person.name %></strong></h2>
        <h2><%= person_attributes(@question.person) %></h2>
        <%= simple_form_for(:answer, url: answers_path) do |f| %>
          <%= hidden_field_tag :question_id, @question.id %>
          <%= f.input :text, placeholder: "What is your answer?", as: :text, label: false %>
          <%= f.button :submit, 'Submit Answer', class: 'cta-pill' %>
        <% end %>
        <p class='watermark-tip'>This watermark will appear on all answers you post to the OpenGovernment Website, indicating that you are an official representative.</p>
      </div>
    <% elsif !user_signed_in? %>
      <p>
        Are you <%= @question.person.name %>?
        <% if @question.person.verified? -%>
          <%= link_to 'Login to answer', new_user_session_path %>.
        <% else -%>
          <%= link_to 'Sign up to answer', new_user_registration_path %>.
        <% end -%>
      </p>
    <% end %>
    <div class="comments">
      <div id="disqus_thread"></div>
    </div>

  </article>
  <a name="sign_on_q"></a>
  <div class="actions">
    <h4>Support this question</h4>

    <div class="row">
      <div class="question_progress">
        <div class="progress_filler" style="width: <%= question_progress_percent(@question) %>%;"></div>
      </div>
      <span class="question_progress_count">
        <strong><span class="question-signatures" data-signature-question-id="<%= @question.id %>"><%= @question.signature_count -%></span></strong>
        out of
        <strong><span class="question-signature-threshold"><%= @question.person.signature_threshold -%></span></strong>
        Signatures
      </span>
    </div>

    <% if user_signed_in? %>
      <ul>
        <li>
          <% if current_user.question_signed? @question.id %>
            <a class='sign_on'>Signed</a>
          <% else %>
          <%= link_to 'Sign', "#", class: 'cta-pill sign-on-user', :'data-question-id' => @question.id %>
          <% end %>
        </li>
      </ul>
    <% else %>
    <div class="row last signup">
      <%= simple_form_for(@user, as: :user, url: registration_path(:user)) do |f| %>
        <%= hidden_field_tag :question_id, @question.id %>
        <%= f.input :given_name, placeholder: "First Name", label: false %>
        <%= f.input :family_name, placeholder: "Last Name", label: false %>
        <%= f.input :email, placeholder: "E-mail", label: false %>
        <%#<%= f.input :street_address, placeholder: "Street Address", label: false %>
        <%#<%= f.input :locality, placeholder: "City", label: false %>
        <%#<%= f.input :region, collection: OpenGovernment::STATES, prompt: "Select your state", label: false, wrapper_html: {class: 'icon-angle-down sculpt'} %>
        <%= f.input :postal_code, placeholder: "Zip or Postal Code", label: false %>
        <%#<%= f.input :password, placeholder: "Password", label: false %>
        <%= f.hidden_field :password, value: Devise.friendly_token.first(6) %>
        <%= f.hidden_field :password_is_placeholder, value: true %>
        <%= f.button :submit, 'Sign', class: 'cta-pill' %>
      <% end %>
      </div>
    <% end %>
    <% if @question.subject? %>
    <h5>Issue Area</h5>
    <ul class="tags">
      <li>
        <%= link_to @question.subject, questions_path(@jurisdiction.id, subject: @question.subject) %>
      </li>
    </ul>
    <% end %>
    <%= link_to 'Flag this question', '#', class: 'flag' %><%# @todo JM %>
  </div>
  <div class="recent-signatures">
    <h3>Recent signatures</h3>
    <p class="recent-signature">
      <a href="#">Amanda Cheung (Boston, MA)</a>
      signed 1m ago
    </p>
    <p class="recent-signature">
      <a href="#">Donald Duck (Disney, MA)</a>
      signed 2m ago
    </p>
  </div>
</section>
<% if params[:share] == 'true' %>
  <div id='overlay'></div>
  <div id='modal'>
    <div class='modal-content'>
      <a href='#' class='modal-close'><i class='icon-remove'></i></a>
      <p class='modal-copy'>Share your question - get more signatures and ask for a public response!</p>
      <a href='mailto:?subject=Help get an answer to my question on AskThem' target="_blank" class='modal-share cta-pill'>
        <i class='icon-envelope-alt'></i>
        Email
      </a>
      <a href='https://www.facebook.com/sharer.php?u=<%= URI.escape(current_url) %>' target="_blank" class='modal-share cta-pill cta-pill-facebook'>
        <i class='icon-facebook'></i>
        Facebook
      </a>
      <a href='https://twitter.com/share?text=Help get my question answered on @AskThemPPF: <%= URI.escape(@question.title) %>' target="_blank" class='modal-share cta-pill cta-pill-twitter'>
        <i class='icon-twitter'></i>
        Twitter
      </a>
      <a href='https://twitter.com/share?text=Help get my question answered on @AskThemPPF: <%= URI.escape(@question.title) %>' target="_blank" class='modal-share cta-pill cta-pill-google'>
        <i class='icon-google-plus'></i>
        Google Plus
      </a>
      <%= image_tag('mark.svg', class: 'modal-logo') %>
    </div>
  </div>
<% end %>
<%# @see http://disqus.com/admin/universalcode/ %>

<script type="text/javascript">
  var disqus_shortname = 'dobot';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
