<%= render 'shared/navigation' %>

<section class="question">
  <article>
    <header>
      <h4>
        <span class="emph">To:</span> <strong><%= link_to @question.person.name, person_path(@jurisdiction.abbreviation, @question.person.id) %></strong>
        <span>(<%= person_attributes(@question.person) %>)</span>
        <% if @question.bill_id? %>
          <span class="emph">on:</span> <strong><%= link_to short_bill_title(@question.bill), bill_path(@jurisdiction.abbreviation, @question.bill.id) %></strong>
        <% end %>
      </h4>
      <h1><%= @question.title %></h1>
    </header>
    <%= simple_format(@question.body) %>
    <span class="author_wrap">
      <%# HACK: issued_at set to created_at until issued_at is sorted out -%>
      <%# TODO: take out issued_at set to created_at -%>
      <% @question.issued_at = @question.created_at unless @question.issued_at.present? -%>
      <span class="posted">Posted <%= time_tag @question.issued_at, l(@question.issued_at.to_date, format: :long), 'data-time-ago' => @question.issued_at.iso8601 %> by</span>
      <span class="author">
        <%= link_to user_path(@question.user) do %>
          <% if @question.user.image? %>
            <%= image_tag(@question.user.image.url, size: '40x40', alt: '') %>
          <% end %>
          <%= @question.user.alternate_name %>
        <% end %>, of <%= @question.user.locality -%>, <%= @question.user.region.upcase -%>
      </span>
    </span>

    <div class="recipient_answer recipient"> <%# @todo JM %>
      <div class="avatar">
        <img src="http://lorempixel.com/130/130/" alt="" />
      </div>
      <div class="person-info">
        <h2>Steven Trevathan</h2>
        <span class="jurisdiction">Republican, 6th House District</span>
        <span class="stats">
          <span>3 Questions</span>
          <span>1 Answers</span>
        </span>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <span class="pubdate"><time datetime="2009-11-13" pubdate>November 11th 2013 <sup>6:45pm</sup></time></span>
    </div>

    <a href="#sign_on_q" class="mobile_cta cta_pill">Sign On</a> <%# @todo JM - mobile sign on button, if logged in this button should sign the question, otherwise it should send the user to the anchored form %>

    <div class="comments">
      <div id="disqus_thread"></div>
    </div>
  </article>
  <a name="sign_on_q"></a>
  <div class="actions">
    <h4>Support this question</h4>

    <div class="row">
      <div class="question_progress">
        <div class="progress_filler" style="width: 0%;"></div>
      </div>
      <span class="question_progress_count">
        <strong><span class="question-signatures"><%= @question.signatures.count -%></span></strong>
        out of
        <strong><span class="question-signature-threshold"><%= @question.person.signature_threshold -%></span></strong>
        Signatures
      </span>
    </div>

    <% if user_signed_in? %>
      <ul>
        <li><%= link_to 'Sign On', signatures_path(question_id: @question.id), class: 'cta_pill' %><%# @todo link to remote %></li>
      </ul>
    <% else %>
      <div class="row last signup">
      <%= simple_form_for(@user, as: :user, url: registration_path(:user)) do |f| %><%# @todo maybe use a custom controller %>
        <%= hidden_field_tag :question_id, @question.id %>
        <%= f.input :given_name, placeholder: "First Name", label: false %>
        <%= f.input :family_name, placeholder: "Last Name", label: false %>
        <%= f.input :email, placeholder: "E-mail", label: false %>
        <%= f.input :street_address, placeholder: "Street Address", label: false %>
        <%= f.input :locality, placeholder: "City", label: false %>
        <%= f.input :region, collection: OpenGovernment::STATES, prompt: "Select your state", label: false, wrapper_html: {class: 'icon-angle-down sculpt'} %>
        <%= f.input :postal_code, placeholder: "Zip or Postal Code", label: false %>
        <%= f.input :password, placeholder: "Password", label: false %>
        <%= f.button :submit, 'Sign On', class: 'cta_pill' %>
      <% end %>
      </div>
    <% end %>
    <h5>Share</h5>
    <ul>
       <li>
         <%= link_to '', "https://www.facebook.com/sharer.php?u=#{URI.escape(current_url)}", class: 'icon-facebook' %>
         <%= link_to '', "https://twitter.com/share?text=#{URI.escape(@question.title)}", class: 'icon-twitter' %>
         <%= link_to '', "https://plus.google.com/share?url=#{URI.escape(current_url)}", class: 'icon-google-plus' %>
       </li>
    </ul>
    <% if @question.subject? %>
    <h5>Issue Area</h5>
    <ul class="tags">
      <li>
        <%= link_to @question.subject, questions_path(@jurisdiction.id, subject: @question.subject) %>
      </li>
    </ul>
    <% end %>
    <%= link_to 'Flag this question', '#', class: 'flag' %><%# @todo JM %>
  </div>
</section>

<%# @see http://disqus.com/admin/universalcode/ %>
<script type="text/javascript">
var disqus_shortname = 'dobot';
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
