<%= render 'shared/navigation' %>

<section class="question">
  <article>
    <header>
      <h2>
        To <strong><%= link_to @question.person.name, person_path(@jurisdiction.abbreviation, @question.person.id) %></strong>
        <span>(<%= person_attributes(@question.person) %>)</span>
      </h2>
      <% if @question.bill_id? %>
      <h2>
        On <strong><%= link_to short_bill_title(@question.bill), bill_path(@jurisdiction.abbreviation, @question.bill.id) %></strong>
      </h2>
      <% end %>
      <h1><%= @question.title %></h1>
    </header>
    <%= simple_format(@question.body) %>
    <span class="author_wrap">
      <span class="posted">Posted <%= time_tag @question.issued_at, l(@question.issued_at.to_date, format: :long), 'data-time-ago' => @question.issued_at.iso8601 %> by</span>
      <span class="author">
        <%= link_to user_path(@question.user) do %>
          <% if @question.user.image? %>
            <%= image_tag(@question.user.image.url, size: '40x40', alt: '') %>
          <% end %>
          <%= @question.user.alternate_name %>
        <% end %>
      </span>
    </span>

    <div class="comments">
      <div id="disqus_thread"></div>
    </div>
  </article>

  <div class="actions">
    <% if user_signed_in? %>
      <ul>
        <li><%= link_to 'Sign On', signatures_path(question_id: @question.id), class: 'cta_pill' %><%# @todo link to remote %></li>
        <li><%= link_to 'E-mail this to Council Member →', '#', class: 'email' %><%# @todo ST we are removing this feature? %></li>
      </ul>
    <% else %>
      <%= simple_form_for(@user, as: :user, url: registration_path(:user)) do |f| %><%# @todo maybe use a custom controller %>
        <%= hidden_field_tag :question_id, @question.id %>
        <%= f.input :given_name %>
        <%= f.input :family_name %>
        <%= f.input :email %>
        <%= f.input :street_address %>
        <%= f.input :locality %>
        <%= f.input :region, collection: OpenGovernment::STATES %>
        <%= f.input :postal_code %>
        <%= f.input :password %>
        <%= f.button :submit, 'Sign On' %>
      <% end %>
    <% end %>
    <h5>Share</h5>
    <ul>
       <li>
         <%= link_to '', "https://www.facebook.com/sharer.php?u=#{URI.escape(current_url)}", class: 'icon-facebook' %>
         <%= link_to '', "https://twitter.com/share?text=#{URI.escape(@question.title)}", class: 'icon-twitter' %>
         <%= link_to '', "https://plus.google.com/share?url=#{URI.escape(current_url)}", class: 'icon-google-plus' %>
       </li>
    </ul>
    <% if @question.subject? %>
    <h5>Issue Area</h5>
    <ul class="tags">
      <li>
        <%= link_to @question.subject, questions_path(@jurisdiction.id, subject: @question.subject) %>
      </li>
    </ul>
    <% end %>
    <%= link_to 'Flag this question', '#', class: 'flag' %><%# @todo %>
  </div>
</section>

<%# @see http://disqus.com/admin/universalcode/ %>
<script type="text/javascript">
var disqus_shortname = 'dobot';
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
