<section>
  <% if @post.person %>
    <% if @post.person.image? %>
      <%= image_tag(@post.person.image) %>
    <% end %>
    <%= @post.person.name %>
    <% if @post.person['party'] %>
      <%= @post.person['party'] %>
    <% end %>
    <%= @post.role %>
    <% if @post.person.summary? %>
      <p><%= @post.person.summary %></p>
    <% end %>
  <% else %>
    <%# if seat is empty... %>
  <% end %>

  <ul>
    <li><%= link_to 'Questions', '#' %></li>
    <li><%= link_to 'Voting Record', '#' %></li>
    <li><%= link_to 'Sponsorship', '#' %></li>
    <li><%= link_to 'News', '#' %></li>
    <li><%= link_to 'Interest Groups', '#' %></li>
  </ul>

  <aside>
    <% if @post.person && @post.person.email? %>
    <p>Email: <%= mail_to @post.person.email %></p>
    <% end %>
    <%= render @post.addresses %>
  </aside>
</section>
