<div class="meeting-row">
  <div class="meeting-date">
    <span class="pubdate">
      <time datetime="<%= meeting.date_and_time.strftime "%Y-%m-%d" %>" pubdate>
        <%= meeting.date_and_time.strftime "%b %e, %Y" %>
        <br /><%= meeting.date_and_time.strftime "%l:%M%P" %>
      </time>
    </span>
  </div>
  <div class="meeting-name"><%= meeting.name %></div>
  <div class="meeting-agenda">
    <% if meeting.agenda %>
      <%= link_to 'Download', meeting.agenda.url, class: 'meeting-agenda-download' %>
    <% else %>
      -
    <% end %>
  </div>
  <div class="meeting-minutes">
    <% if meeting.minutes_document %>
      <%= link_to 'Minutes', meeting.minutes_document.url %>
    <% else %>
      -
    <% end %>
  </div>
</div>
