<li>
  <div class="avatar">
    <% if person.image? %>
      <%= cdn_image_tag(person.image, size: '60x60', alt: '') %>
    <% else %>
      <%= image_tag('placeholder.png', size: '60x60', alt: '') %>
    <% end %>
  </div>
  <div class="person-info">
    <h2><%= link_to person.name, person_path(@jurisdiction['abbreviation'], person) %></h2>
    <span class="jurisdiction"><%= person_attributes(person) %></span>
    <span class="stats"><span><%= pluralize person.question_count, 'Question' %></span>
    <span><%= pluralize person.answered_question_count, 'Answer' %></span></span>
  </div>
</li>