<%= render 'shared/navigation' %>

<section>
  <div class="media">
    <span class="pull-left">
      <% if @person.image? %>
        <%= cdn_image_tag(@person.image, size: '100x100', alt: '', class: 'media-object') %>
      <% else %>
        <%# @todo add placeholder image %>
      <% end %>
    </span>
    <div class="media-body">
      <h1 class="media-heading">
        <%= name_with_title(@person) %>
      </h1>
      <p><%= person_attributes(@person) %></p>
      <p>
        <%= pluralize @person.questions.count, 'question' %>
        <%= pluralize @person.answers.count, 'answer' %>
      </p>
    </div>
  </div>

  <% if @person.person_detail.biography? %>
    <p><%= @person.person_detail.biography %></p>
  <% end %>

  <ul>
    <li><%= link_to 'Questions', '#' %><%# @todo %></li>
    <li><%= link_to 'Voting Record', '#' %><%# @todo %></li>
    <li><%= link_to 'Sponsorship', '#' %><%# @todo %></li>
    <li><%= link_to 'Interest Groups', '#' %><%# @todo %></li>
  </ul>

  <aside>
    <% if @person.email? %>
      <p>Email: <%= mail_to @person.email %></p>
    <% end %>
    <% @person['offices'].each do |office| %>
      <section>
        <% if office['type'] %>
          <header>
            <%= office['name'] || t(office['type'], scope: [:offices, :types], default: office['type']) %>
          </header>
        <% end %>
        <% if office['phone'] %>
          <p>Phone: <%= office['phone'] %></p>
        <% end %>
        <% if office['fax'] %>
          <p>Fax: <%= office['fax'] %></p>
        <% end %>
        <% if office['address'] && office['address'] != ',' %>
          <%= simple_format office['address'] %>
        <% end %>
      </section>
    <% end %>

    <section>
      <header>Committees</header>
      <%# @todo %>
    </section>

    <section>
      <header>Bills Sponsored</header>
      <%# @todo %>
    </section>

    <section>
      <header>Recent Votes</header>
      <%# @todo %>
    </section>

    <section>
      <header>Campaign Donations</header>
      <%# @todo %>
    </section>
  </aside>
</section>
