<%= render 'shared/navigation' %>

<section class="people">
  <header>
    <div class="person_info">
        <% if @person.image? %>
        <div class="person_photo">
          <%= cdn_image_tag(@person.image, size: '80x80', alt: '', class: 'person_photo') %>
        </div>
        <% else %>
          <%# @todo add placeholder image %>
        <% end %>

        <div class="person_details">
          <h1><%= name_with_title(@person) %></h1>
          <h2><%= person_attributes(@person) %></h2>
          <div class="attr">
            <span class="count"><%= pluralize @person.questions.count, 'question' %></span>
            <span class="count"><%= pluralize @person.answers.count, 'answer' %></span>
          </div>
        </div>

      <% if @person.person_detail.biography? %>
        <p><%= truncate(@person.person_detail.biography, length: 130) %> <%= link_to 'Read more on Wikipedia', @person.person_detail.links.find_by(note: 'Wikipedia').url %></p>
      <% end %>
    </div>
    <%= link_to 'Ask them a Question', new_question_path, class: 'cta_pill' %>
  </header>

  <div class="related_wrap">
    <div class="related_data">
      <nav>
        <ul class="related_nav">
          <li><%= link_to 'Questions', '#', class: 'active' %><%# @todo %></li>
          <li><%= link_to 'Voting Record', '#' %><%# @todo %></li>
          <li><%= link_to 'Sponsorship', '#' %><%# @todo %></li>
          <li><%= link_to 'News', '#' %><%# @todo %></li>
          <li><%= link_to 'Interest Groups', '#' %><%# @todo %></li>
        </ul>
      </nav>

      <div class="related_content">
<%= render partial: 'questions' %>

        <aside>
          <% if @person.email? %>
          <section>
            <h4>Email:</h4><p><%= mail_to @person.email %></p>
          </section>
          <% end %>

          <% @person['offices'].each do |office| %>
            <section>
              <% if office['type'] %>
                <h4>
                  <%=t office['type'], scope: [:offices, :types], default: office['type'] %>
                </h4>
              <% end %>
              <ul>
                <% if office['phone'] %>
                  <li>Phone: <%= office['phone'] %></li>
                <% end %>
                <% if office['fax'] %>
                  <li>Fax: <%= office['fax'] %></li>
                <% end %>
                <% if office['address'] %>
                  <li><%= simple_format office['address'] %></li>
                <% end %>
              </ul>
            </section>
          <% end %>

          <section>
            <h4>Committees</h4>
            <ul>
              <li>
                <%= link_to 'Committee link A', '#' %>
              </li>
              <li>
                <%= link_to 'Committee link B', '#' %>
              </li>
            </ul>
          </section>

          <section>
            <h4>Bills Sponsored</h4>
            <ul>
              <li>
                Cosponsor of <%= link_to 'SB 220', '#' %> Identity Fraud - Prohibition of Unauthorized Skimming and Re-Encoding Devices
              </li>
              <li>
                Cosponsor of <%= link_to 'SB 220', '#' %> Identity Fraud - Prohibition of Unauthorized Skimming and Re-Encoding Devices
              </li>
            </ul>
          </section>

          <section>
            <h4>Recent Votes</h4>
            <ul>
              <li>
                Yes on <%= link_to 'SB 220', '#' %> motion Third Reading, January 24, 2013
              </li>
              <li>
                No on <%= link_to 'SB 400', '#' %> motion Third Reading, January 24, 2013
              </li>
            </ul>
          </section>

          <section>
            <h4>Campaign Donations</h4>
            <ul>
              <li>
                Yes on <%= link_to 'SB 220', '#' %> motion Third Reading, January 24, 2013
              </li>
              <li>
                No on <%= link_to 'SB 400', '#' %> motion Third Reading, January 24, 2013
              </li>
            </ul>
          </section>

          <section>
            <h4>News Coverage</h4>
            <ul>
              <li>
                And here we have some news coverage <%= link_to 'read on NYTimes.com', '#' %>
              </li>
              <li>
                And here we have some news coverage <%= link_to 'read on boston.com', '#' %>
              </li>
            </ul>
          </section>
        </aside>
      </div>
    </div>
  </div>
</section>
