<%= render 'shared/navigation' %>

<section class="people">
  <header>
    <div class="person_info">
      <% if @person.image? %>
      <div class="avatar">
        <%= cdn_image_tag(@person.image, size: '80x80', alt: '', class: 'person_photo') %>
      </div>
      <% else %>
        <%= image_tag('http://placehold.it/80x80', size: '80x80', alt: '') %>
      <% end %>

      <div class="person_details">
        <h1>
          <%= @person.name %> <% unless @person['active'] %>(Not in Office)<% end %>
        </h1>
        <h2><%= person_attributes(@person) %></h2>
        <div class="attr">
          <span class="count"><%= pluralize @person.questions.count, 'question' %></span>
          <span class="count"><%= pluralize @person.questions_answered.count, 'answer' %></span>
        </div>
      </div>

      <% if @person.person_detail.biography? %>
        <p><%= truncate(@person.person_detail.biography, length: 130) %> <%= link_to 'Read more on Wikipedia', @person.person_detail.links.find_by(note: 'Wikipedia').url %></p>
      <% end %>
    </div>
    <%= link_to 'Ask this person a Question', new_question_path(@jurisdiction.abbreviation, person: @person), class: 'cta-pill' %>
  </header>

  <div class="related_wrap">
    <div class="related_data">
      <nav>
        <ul class="related_nav">
          <li><%= link_to 'Questions', person_path(@jurisdiction.abbreviation, @person.id), tab_options('questions', 'show') %></li>
          <li><%= link_to 'Sponsored Bills', bills_person_path(@jurisdiction.abbreviation, @person.id), tab_options('bills') %></li>
          <li><%= link_to 'Votes', votes_person_path(@jurisdiction.abbreviation, @person.id), tab_options('votes') %></li>
          <li><%= link_to 'Committees', committees_person_path(@jurisdiction.abbreviation, @person.id), tab_options('committees') %></li>
          <li><%= link_to 'Interest Groups', ratings_person_path(@jurisdiction.abbreviation, @person.id), tab_options('ratings') %></li>
        </ul>
      </nav>

      <div class="related_content">
        <%= render partial: @tab %>

        <aside>
          <% if @person.email? %>
          <section>
            <h4>Email:</h4><p><%= mail_to @person.email %></p>
          </section>
          <% end %>

          <% if @person['offices'] -%>
            <% @person['offices'].each do |office| %>
              <section>
                <% if office['type'] %>
                <h4>
                  <%=t office['type'], scope: [:offices, :types], default: office['type'] %>
                </h4>
                <% end %>
                <ul>
                  <% if office['phone'] %>
                    <li>Tel: <%= office['phone'] %></li>
                  <% end %>
                    <% if office['fax'] %>
                      <li>Fax: <%= office['fax'] %></li>
                    <% end %>
                    <% if office['address'] %>
                      <li><%= simple_format office['address'] %></li>
                    <% end %>
                </ul>
              </section>
            <% end %>
          <% end %>
        </aside>
      </div>
    </div>
  </div>
</section>
