<%= simple_form_for @blurb, html: { accept_charset: "utf-8" } do |f| %>
  <%= f.error_notification %>

  <%- if @blurb.errors.any? %>
    <div class="alert">
      <%- @blurb.errors.full_messages.each do |message| %>
        <p><%= message -%></p>
      <%- end %>
    </div>
  <%- end %>

  <div class="form-inputs">
    <%= f.input :target_url, as: :hidden, input_html: { value: @target_url } %>
    <%= f.input :active, as: :radio_buttons %>
    <%= f.text_area :headline, placeholder: raw("Headline"), maxlength: "100", rows: "1" %>
    <%= f.text_area :body, placeholder: raw("Short body, HTML allowed, but keep it simple and valid!"), rows: "1" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "cta-pill" %>
  </div>
<% end %>
