<%= render 'shared/navigation' %>
<% ancestors = @organization.ancestors_and_self %>

<section>
  <h1><%= @organization.name %></h1>

  <ol class="media-list">
    <% @posts.includes(:area).asc(:sort_name).each do |post| %>
      <% if post.person %>
        <li class="media">
          <span class="pull-left">
            <% if post.person.image? %>
              <%= cdn_image_tag(post.person.image, size: '50x50', alt: '', class: 'media-object') %>
            <% else %>
              <%# @todo placeholder image %>
            <% end %>
          </span>
          <div class="media-body">
            <h2 class="media-heading">
              <%= link_to post.person.name, nested_organization_post_path(ancestors, post) %>
            </h2>
            <%= subheader_on_posts(post) %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ol>
</section>
