<%= render 'shared/navigation' %>

<section>
  <% if @post.person %>
    <div class="media">
      <span class="pull-left">
        <% if @post.person.image? %>
          <%= cdn_image_tag(@post.person.image, size: '100x100', alt: '', class: 'media-object') %>
        <% else %>
          <%# @todo placeholder image %>
        <% end %>
      </span>
      <div class="media-body">
        <h1 class="media-heading">
          <%= @post.person.name %>
        </h1>
        <%= subheader_on_post(@post) %>
      </div>
    </div>

    <% if @post.person.summary? %>
      <p><%= @post.person.summary %></p>
    <% end %>
  <% else %>
    <%# @todo if no elected official for this seat %>
  <% end %>

  <ul>
    <li><%= link_to 'Questions', '#' %></li>
    <li><%= link_to 'Voting Record', '#' %></li>
    <li><%= link_to 'Sponsorship', '#' %></li>
    <li><%= link_to 'News', '#' %></li>
    <li><%= link_to 'Interest Groups', '#' %></li>
  </ul>

  <aside>
    <% if @post.person && @post.person.email? %>
      <p>Email: <%= mail_to @post.person.email %></p>
    <% end %>
    <%= render @post.addresses %>
  </aside>
</section>
