<nav>
  <ul class="breadcrumb">
    <li><%= link_to t('popolo.organizations.depth.0'), organizations_path %> <span class="divider">/</span></li>
<% ancestors = @organization.ancestors %>
<% ancestors.each_with_index do |ancestor,index| %>
    <li>
  <% if ancestor.root? %>
      <%= link_to ancestor.name, organization_path(ancestor) %>
  <% else %>
      <%= link_to ancestor.name, nested_organization_path(ancestors[0..index]) %>
  <% end %>
      <span class="divider">/</span>
    </li>
<% end %>
    <li class="active"><%= @organization.name %></li>
  </ul>
</nav>

<section>
  <header>
    <h1><%= @organization.name %></h1>
  </header>

<% unless @organization.leaf? %>
  <ul>
  <% @organization.children.each do |organization| %>
    <li><%= link_to organization.name, nested_organization_path([@organization, organization]) %></li>
  <% end %>
  </ul>
<% end %>
</section>
