<% if object %>
<nav>
  <ul class="breadcrumb">
    <li><%= link_to resource_collection_name.capitalize, collection_path %> <span class="divider">/</span></li>
  <% ancestors = object.ancestors %>
  <% ancestors.each_with_index do |ancestor,index| %>
    <li>
    <% if ancestor.root? %>
      <%= link_to ancestor.name, nested_resources_path([ancestor]) %>
    <% else %>
      <%= link_to ancestor.name, nested_resources_path(ancestors[0..index]) %>
    <% end %>
      <span class="divider">/</span>
    </li>
  <% end %>
    <li class="active"><%= object.name %></li>
  </ul>
</nav>
<% end %>

<% unless collection.empty? %>
  <% groups = collection.asc(:sort_name).group_by(&:classification) %>
  <% groups.each do |classification,documents| %>
<section>
  <header>
    <h1><%= t(classification, scope: [:popolo, resource_collection_name, :classifications]) %></h1>
  </header>
  <ul>
    <% documents.each do |document| %>
    <li><%= link_to document.name, nested_resources_path([object, document].compact) %></li>
    <% end %>
  </ul>
</section>
  <% end %>
<% end %>
