<section>
  <header>
    <h1>Edit <%= resource_name.to_s.humanize %></h1>
  </header>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "edit_registration" }) do |f| %>
    <%= devise_error_messages! %>
    <div class="data_collection_form">
      <fieldset>
        <% if resource.image? %>
          <%= image_tag(resource.image.url, class: "edit_avatar") %>
          <%= f.input :remove_image, as: :boolean %>
        <% end %>
        <div class="pill_wrap">
          <%= f.input :image, as: :file %>
          <%= f.input :image_cache, as: :hidden %>
        </div>
        <div class="pill_wrap">
          <%= f.input :given_name %>
        </div>
        <div class="pill_wrap">
          <%= f.input :family_name %>
        </div>
        <div class="pill_wrap">
          <%= f.input :email, :label=>"Email" %>
        </div>
        <div class="pill_wrap">
          <%= f.input :street_address, label: "address" %>
        </div>
        <div class="pill_wrap">
          <%= f.input :locality %>
        </div>
        <div class="pill_wrap">
          <label for="question_user_attributes_region" class="lesser">State</label>
          <div class="input select sculpt icon-angle-down">
            <%= f.select :region, options_for_select(OpenGovernment::STATES, resource.region), placeholder: "Select your state" %>
          </div>
        </div>
        <div class="pill_wrap">
          <%= f.input :postal_code %>
        </div>
        <div class="pill_wrap">
          <%= f.input :password, hint: false, label: "Change Password", input_html: {autocomplete: "off"} %>
          <span class="tip private">leave blank if you don't want to change it</span>
        </div>
        <div class="pill_wrap">
          <%= f.input :email_is_disabled, hint: false, label: "Disable emails?", as: :radio_buttons %>
          <span class="tip private">Change to yes if you do not want to receive email notifications</span>
        </div>
      </fieldset>
    </div>
    <div class="controls">
      <%= f.button :submit, "Update", class: "cta-pill" %>
    </div>
  <% end %>
</section>
