<section>
  <header>
    <h1>Edit <%= resource_name.to_s.humanize %></h1>
  </header>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'edit_registration'}) do |f| %>
    <%= devise_error_messages! %>
    <% if resource.image? %>
      <%= f.input :remove_image, as: :boolean, hint: image_tag(resource.image.url) %>
    <% end %>
    <%= f.input :image, as: :file %>
    <%= f.input :image_cache, as: :hidden %>
    <%= f.input :given_name %>
    <%= f.input :family_name %>
    <%= f.input :email %>
    <%= f.input :street_address %>
    <%= f.input :locality %>
    <%= f.input :region, collection: OpenGovernment::STATES %>
    <%= f.input :postal_code %>
    <%= f.input :password, input_html: {autocomplete: 'off'} %>
    <%= f.button :submit, 'Update' %>
  <% end %>
</section>
