<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.input :given_name %>
  <%= f.input :family_name %>
  <%= f.input :email %>
  <%= f.input :street_address %>
  <%= f.input :locality %>
  <%= f.input :region %>
  <%= f.input :postal_code %>
  <%= f.input :password %>
  <%= f.button :submit, 'Sign up' %>
<% end %>

<%= render 'devise/shared/links' %>
