<section>
  <header>
    <h1>Sign up</h1>
  </header>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'new_registration'}) do |f| %>
    <%= devise_error_messages! %>
    <% if resource.remote_image_url %>
      <%= f.input :remote_image_url, as: :hidden %>
    <% end %>
    <div class="data_collection_form">
      <fieldset>
        <div class="pill_wrap">
          <%= f.input :given_name %>
        </div>
        <div class="pill_wrap">
          <%= f.input :family_name %>
        </div>
        <div class="pill_wrap">
          <%= f.input :email, :label=>'Email' %>
          <span class="tip private">
            Your e-mail will remain private
          </span>
        </div>
        <div class="pill_wrap">
          <%= f.input :street_address, :label=>'address' %>
          <span class="tip private">
            Your address will remain private as well!
          </span>
        </div>
        <div class="pill_wrap">
          <%= f.input :locality %>
        </div>
        <div class="pill_wrap">
          <label for="question_user_attributes_region" class="lesser">State</label>
          <div class="input select sculpt icon-angle-down">
            <%= f.select :region, options_for_select(OpenGovernment::STATES, @state_code), placeholder: 'Select your state' %>
          </div>
        </div>
        <div class="pill_wrap">
          <%= f.input :postal_code %>
        </div>
        <div class="pill_wrap">
          <%= f.input :password %>
        </div>
        <div class="pill_wrap">
          <%= f.input :image, as: :file %>
          <%= f.input :image_cache, as: :hidden %>
          <span class="tip private">
            Profile picture optional
          </span>
        </div>
      </fieldset>
    </div>
    <div class="controls">
      <%= f.button :submit, 'Sign up', :class => 'cta-pill' %>
      <%= render 'devise/shared/links' %>
    </div>
  <% end %>

</section>
