<section>
  <nav>
    <ul class="level">
      <li<%= raw(' class="active"') if federal? %>>
        <%= link_to federal_path do %>
          <%= @jurisdiction['name'] %> Federal
        <% end %>
        <i class="icon-angle-down"></i>
      </li>
      <li<%= raw(' class="active"') if state? %>>
        <%= link_to state_path do %>
          <%= @jurisdiction['name'] %> State
        <% end %>
        <i class="icon-angle-down"></i>
      </li>
      <li<%= raw(' class="active"') if local? %>>
        <%= link_to local_path do %>
          City
        <% end %>
        <i class="icon-angle-down"></i>
      </li>
    </ul>
    <ul class="top_nav">
      <li><a name="top" style="display:none;"></a><%= tab 'Questions', @type ? questions_path(type: @type) : questions_path %></li>
      <% unless 1 # federal? -%>
        <li><%= tab 'Bills', bills_path %></li>
      <% end %>
      <%# @todo extract to helper -%>
      <% unless 1 %>
        <li><%= tab 'People', @type ? people_path(type: @type) : people_path %></li>
        <% if @jurisdiction.subjects? %>
        <li><%= tab 'Issues', subjects_path %></li>
        <% end %>
      <% end %>
      <%# <li><%= tab 'Money', '#' </li> @todo %>
      <li><%= tab 'Government', jurisdiction_path %></li>
      <%= link_to 'Ask a Question', @type ? new_question_path(@jurisdiction.abbreviation, type: @type) : new_question_path(@jurisdiction.abbreviation), class: 'cta-pill top-nav-ask' %>
    </ul>
  </nav>
</section>
