<section>
  <nav>
    <ul class="top_nav">
      <li class="subject">Pennsylvania</li>
      <li><%= link_to 'Questions', questions_path, class: 'active' %></li>
      <li><%= link_to 'Bills', '#' %></li>
      <li><%= link_to 'People', '#' %></li>
      <li><%= link_to 'Issues', '#' %></li>
      <li><%= link_to 'Money', '#' %></li>
      <li><%= link_to 'State Overview', '#' %></li>
    </ul>
  </nav>
</section>
