<section>
  <nav>
    <ul class="level">
      <li<%= raw(' class="active"') if federal? %>>
        <%= link_to federal_path do %>
          <%= @jurisdiction['name'] %> Federal
        <% end %>
        <i class="icon-angle-down"></i>
      </li>
      <li<%= raw(' class="active"') if state? %>>
        <%= link_to state_path do %>
          <%= @jurisdiction['name'] %> State
        <% end %>
        <i class="icon-angle-down"></i>
      </li>
      <li<%= raw(' class="active"') if local? %>>
        <%= link_to local_path do %>
          City
        <% end %>
        <i class="icon-angle-down"></i>
      </li>
    </ul>
    <ul class="top_nav">
      <li><a name="top" style="display:none;"></a><%= tab 'Questions', questions_path %></li>
      <li><%= tab 'Bills', bills_path %></li>
      <%# @todo extract to helper -%>
      <li><%= tab 'People', params[:type] ? people_path(type: params[:type]) : people_path %></li>
      <% if @jurisdiction.subjects? %>
      <li><%= tab 'Issues', subjects_path %></li>
      <% end %>
      <%# <li><%= tab 'Money', '#' </li> @todo %>
      <li><%= tab 'Overview', jurisdiction_path %></li>
    </ul>
  </nav>
</section>
