<section>
  <nav>
    <ul class="top_nav">
      <li class="subject"><%= @jurisdiction['name'] %> <a href="#top" class="expand_menu"><span class="icon-angle-down"></span> Expand Menu</a></li>
      <li><a name="top" style="display:none;"></a><%= tab 'Questions', questions_path %></li>
      <li><%= tab 'Bills', bills_path %></li>
      <li><%= tab 'People', people_path %></li>
      <% if @jurisdiction.state? %>
      <li><%= tab 'Issues', subjects_path %></li>
      <% end %>
      <%# <li><%= tab 'Money', '#' </li> @todo %>
      <li><%= tab 'State Overview', jurisdiction_path %></li>
    </ul>
  </nav>
</section>
