<section>
  <nav>
    <ul class="level">
      <li<%= raw(' class="active"') if federal? %>>
        <%= link_to federal_path do %>
          <%= state_name %> Federal
        <% end %>
        <i class="icon-angle-down"></i>
      </li>
      <li<%= raw(' class="active"') if state? %>>
        <%= link_to state_path do %>
          <%= state_name %> State
        <% end %>
        <i class="icon-angle-down"></i>
      </li>
      <%# @todo needs drop down or something that handles multiple cities %>
      <% local_jurisdictions.each do |city| %>
        <% if %w(pa-philadelphia ca-san-jose il-chicago ny-new-york).include?(city.abbreviation) -%>
          <li <%= @jurisdiction.abbreviation == city.abbreviation ? raw(' class="active"') : '' %> >
            <%= link_to jurisdiction_path(jurisdiction: city.abbreviation) do %>
              <%= city.name %>
            <% end %>
            <i class="icon-angle-down"></i>
          </li>
        <% end %>
      <% end %>
    </ul>
    <% unless (params[:controller] == 'questions' && params[:action] == 'show') %>
      <ul class="top_nav">
        <li><a name="top" style="display:none;"></a><%= tab 'Questions', @gov ? questions_path(gov: @gov) : questions_path %></li>
        <% unless 1 # federal? -%>
          <li><%= tab 'Bills', bills_path %></li>
        <% end %>
        <%# @todo extract to helper -%>
        <% unless 1 %>
          <li><%= tab 'People', @gov ? people_path(gov: @gov) : people_path %></li>
          <% if @jurisdiction.subjects? %>
          <li><%= tab 'Issues', subjects_path %></li>
          <% end %>
        <% end %>
        <%# <li><%= tab 'Money', '#' </li> @todo %>
          <li><%= tab 'Government', jurisdiction_path %></li>
        <% if should_have_ask_question_in_header? -%>
          <%= link_to 'Ask a Question', new_question_path(@jurisdiction.abbreviation), class: 'cta-pill top-nav-ask' %>
        <% end %>
        </ul>
    <% end %>
  </nav>
</section>
