<section>
  <nav>
    <ul class="top_nav">
      <li class="subject"><%= @jurisdiction.name %></li>
      <li><%= tab 'Questions', questions_path %></li>
      <li><%= tab 'Bills', bills_path %></li>
      <li><%= tab 'People', people_path %></li>
      <li><%= tab 'Issues', '#' %><%# @todo %></li>
      <li><%= tab 'Money', '#' %><%# @todo %></li>
      <li><%= tab 'State Overview', jurisdiction_path %></li>
    </ul>
  </nav>
</section>
