<% if user_signed_in? %>
<li><%= link_to 'Your Profile', '#' %><%# @todo %></li>
<li><%= link_to 'Dashboard', dashboard_path %></li>
<li>
  <%= link_to current_user.name, '#' %><%# @todo %>
  <%= link_to '#' do %><%# @todo %>
    <span class="icon-angle-down"></span>
  <% end %>
</li>
<% else %>
<li><%= link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook), id: 'facebook' %></li>
<% end %>
