<% if @area %>
<nav>
  <ul class="breadcrumb">
    <li><%= link_to t('popolo.areas.depth.0'), areas_path %> <span class="divider">/</span></li>
  <% ancestors = @area.ancestors %>
  <% ancestors.each_with_index do |ancestor,index| %>
    <li>
    <% if ancestor.root? %>
      <%= link_to ancestor.name, nested_areas_path([ancestor]) %>
    <% else %>
      <%= link_to ancestor.name, nested_areas_path(ancestors[0..index]) %>
    <% end %>
      <span class="divider">/</span>
    </li>
  <% end %>
    <li class="active"><%= @area.display_name %></li>
  </ul>
</nav>
<% end %>

<section>
  <header>
    <h1><%= t(@area && @area.depth + 1 || 0, scope: [:popolo, :areas, :depth]) %></h1>
  </header>

<% unless @area && @area.leaf? %>
  <% groups = @areas.group_by(&:classification) %>
  <% groups.each do |classification,areas| %>
  <section>
    <% unless groups.size == 1 %>
    <header>
      <h2><%= t(classification, scope: [:popolo, :areas, :classifications]) %></h2>
    </header>
    <% end %>
    <ul>
    <% sort_by_name(areas).each do |area| %>
      <li>
      <% if @area %>
        <%= link_to area.display_name, nested_areas_path([@area, area]) %>
      <% else %>
        <%= link_to area.display_name, nested_areas_path([area]) # @todo only like if not leaf %>
      <% end %>
    </li>
    <% end %>
    </ul>
  </section>
  <% end %>
<% end %>
</section>
