<%= render 'shared/navigation' %>

<section class="bills listings">
  <header>
    <h1>Bills</h1>
    <%= link_to 'Post a Question', new_question_path, class: 'cta_pill' %>
  </header>
  <div class="filters">
    <span class="info">Filter by:</span>
    <ul class="menu">
      <li class="selected">District <span class="icon-angle-down"></span></li>
      <li class="menu">
        <ul>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
        </ul>
      </li>
    </ul>
    <ul class="menu">
      <li class="selected">Official <span class="icon-angle-down"></span></li>
      <li class="menu">
        <ul>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
        </ul>
      </li>
    </ul>
    <div class="search">
      <input type="text" name="" id="" placeholder="Search state" />
      <input type="submit" value="" />
    </div>
  </div>

  <ol>
    <% @bills.each do |bill| %>
      <li>
        <%= link_to bill['bill_id'], bill_path(@jurisdiction.id, bill) %>
        <%= bill.dates.first.last.year %>
        <%= pluralize bill.questions.count, 'question' %>
        <%= truncate(bill['title'], length: 95) %>

        <ol class="actions">
          <% bill.dates.select{|_,date| date}.each do |action,date| %>
            <% if action == 'first' %>
              <li<% if date %> class="active"<% end %>>
                Introduced
                <%= l(date, format: :bill) if date %>
              </li>
            <% elsif action == 'passed_lower' %>
              <li<% if date %> class="active"<% end %>>
                Passed <%= @jurisdiction.chamber_name('lower') %>
                <%= l(date, format: :bill) if date %>
              </li>
            <% elsif action == 'passed_upper' %>
              <li<% if date %> class="active"<% end %>>
                Passed <%= @jurisdiction.chamber_name('upper') %>
                <%= l(date, format: :bill) if date %>
              </li>
            <% elsif action == 'signed' %>
              <li<% if date %> class="active"<% end %>>
                Signed into Law
                <%= l(date, format: :bill) if date %>
              </li>
            <% end %>
          <% end %>
        </ol>

        <ul>
          <% bill.people_and_committee_sponsors(5).each do |sponsor| %>
            <li>
              <% if Person === sponsor %>
                <div class="depiction">
                  <% if sponsor.image? %>
                    <%= cdn_image_tag(sponsor.image, size: '50x50', alt: '') %>
                  <% else %>
                    <%= image_tag('placeholder.png', size: '50x50', alt: '') %>
                  <% end %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ol>

  <%= paginate @bills, outer_window: 1 %>
</section>
