<%= render 'shared/navigation' %>

<section class="bills listings">
  <header>
    <h1>Bills</h1>
    <%= link_to 'Post a Question', new_question_path(@jurisdiction.id), class: 'cta_pill' %>
  </header>
  <div class="filters">
    <span class="info">Filter by:</span>
    <ul class="menu">
      <li class="selected">District <span class="icon-angle-down"></span></li>
      <li class="menu">
        <ul>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
        </ul>
      </li>
    </ul>
    <ul class="menu">
      <li class="selected">Official <span class="icon-angle-down"></span></li>
      <li class="menu">
        <ul>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
          <li><%= link_to 'Option', '#' %> <span class="icon-angle-down"></span></li>
        </ul>
      </li>
    </ul>
    <div class="search">
      <input type="text" name="" id="" placeholder="Search state" />
      <input type="submit" value="" />
    </div>
  </div>

  <ol class="bills">
    <%= render @bills %>
  </ol>

  <%= paginate @bills, outer_window: 1 %>
</section>
