<%= render 'shared/navigation' %>

<section class="bills">
  <header>
    <div class="bill_info">
        <div class="bill_details">
          <h2><strong>SB 471</strong> 2013 <a href="#">Read the complete bill &rarr;</a></h2>
          <h1><%= @bill.title %></h1>
          <div class="attr">
            <span class="count"><%= pluralize @bill.views.count, 'answer' %></span>
            <span class="count"><%= pluralize @bill.questions.count, 'question' %></span>
            <span class="count"><%= pluralize @bill.answers.count, 'answer' %></span>
          </div>
        </div>
    </div>
    <%= link_to 'Ask about this Bill', new_question_path, class: 'cta_pill' %>
    <%= link_to 'Tell your Senator what you think', '#', class: 'sim_act' %>
  </header>

  <div class="related_wrap">
    <div class="related_data">
      <nav>
        <ul class="related_nav">
          <li><%= link_to 'Questions', '#', class: 'active' %><%# @todo %></li>
          <li><%= link_to 'Voting Record', '#' %><%# @todo %></li>
          <li><%= link_to 'Sponsorship', '#' %><%# @todo %></li>
          <li><%= link_to 'News', '#' %><%# @todo %></li>
          <li><%= link_to 'Interest Groups', '#' %><%# @todo %></li>
        </ul>
      </nav>

      <div class="related_content">
        <section class="questions related_focus">
          <ol>
            <li>
              <div class="rating">
                <span class="count">25</span>
              </div>
              <div class="question_content">
                <%= link_to 'Why have this thing for act for what?', '/questions/show', class: 'title' %>
                <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do  tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor  ut&hellip; <span class="context">&rarr; in Pennsylvania Bills</span></p>
                <%= link_to '12 comments', '#', class: 'comment_count' %>
              </div>
              <div class="question_attr">
                <span class="author">posted by <%= link_to image_tag('http://lorempixel.com/40/40/people/', size: '20x20', alt: '') + 'Steve T', '#' %></span>
              </div>
            </li>

            <li>
              <div class="rating">
                <span class="count">25</span>
              </div>
              <div class="question_content">
                <%= link_to 'Why have this thing for act for what?', '/questions/show', class: 'title' %>
                <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do  tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor  ut&hellip; <span class="context">&rarr; in Pennsylvania Bills</span></p>
                <%= link_to '12 comments', '#', class: 'comment_count' %>
              </div>
              <div class="question_attr">
                <span class="author">posted by <%= link_to image_tag('http://lorempixel.com/40/40/people/', size: '20x20', alt: '') + 'Steve T', '#' %></span>
              </div>
            </li>

            <li>
              <div class="rating">
                <span class="count">25</span>
              </div>
              <div class="question_content">
                <%= link_to 'Why have this thing for act for what?', '/questions/show', class: 'title' %>
                <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do  tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor  ut&hellip; <span class="context">&rarr; in Pennsylvania Bills</span></p>
                <%= link_to '12 comments', '#', class: 'comment_count' %>
              </div>
              <div class="question_attr">
                <span class="author">posted by <%= link_to image_tag('http://lorempixel.com/40/40/people/', size: '20x20', alt: '') + 'Steve T', '#' %></span>
              </div>
            </li>

            <li>
              <div class="rating">
                <span class="count">25</span>
              </div>
              <div class="question_content">
                <%= link_to 'Why have this thing for act for what?', '/questions/show', class: 'title' %>
                <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do  tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor  ut&hellip; <span class="context">&rarr; in Pennsylvania Bills</span></p>
                <%= link_to '12 comments', '#', class: 'comment_count' %>
              </div>
              <div class="question_attr">
                <span class="author">posted by <%= link_to image_tag('http://lorempixel.com/40/40/people/', size: '20x20', alt: '') + 'Steve T', '#' %></span>
              </div>
            </li>

            <li>
              <div class="rating">
                <span class="count">25</span>
              </div>
              <div class="question_content">
                <%= link_to 'Why have this thing for act for what?', '/questions/show', class: 'title' %>
                <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do  tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor  ut&hellip; <span class="context">&rarr; in Pennsylvania Bills</span></p>
                <%= link_to '12 comments', '#', class: 'comment_count' %>
              </div>
              <div class="question_attr">
                <span class="author">posted by <%= link_to image_tag('http://lorempixel.com/40/40/people/', size: '20x20', alt: '') + 'Steve T', '#' %></span>
              </div>
            </li>

            <li>
              <div class="rating">
                <span class="count">25</span>
              </div>
              <div class="question_content">
                <%= link_to 'Why have this thing for act for what?', '/questions/show', class: 'title' %>
                <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do  tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor  ut&hellip; <span class="context">&rarr; in Pennsylvania Bills</span></p>
                <%= link_to '12 comments', '#', class: 'comment_count' %>
              </div>
              <div class="question_attr">
                <span class="author">posted by <%= link_to image_tag('http://lorempixel.com/40/40/people/', size: '20x20', alt: '') + 'Steve T', '#' %></span>
              </div>
            </li>

            <li>
              <div class="rating">
                <span class="count">25</span>
              </div>
              <div class="question_content">
                <%= link_to 'Why have this thing for act for what?', '/questions/show', class: 'title' %>
                <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do  tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor  ut&hellip; <span class="context">&rarr; in Pennsylvania Bills</span></p>
                <%= link_to '12 comments', '#', class: 'comment_count' %>
              </div>
              <div class="question_attr">
                <span class="author">posted by <%= link_to image_tag('http://lorempixel.com/40/40/people/', size: '20x20', alt: '') + 'Steve T', '#' %></span>
              </div>
            </li>
          </ol>
        </section>

        <aside>
        </aside>
      </div>
    </div>
  </div>
</section>
