<section class="static">
  <h1>About AskThem</h1>
  <div class="related_data">
    <div class="leftCol">
      <p>AskThem is a free and open-source platform for questions-and-answers with public figures. It's like a version of the White House's "We The People" petition platform, but for every elected official nationwide and anyone with a verified Twitter account.</p>	
      <br>
      <p>AskThem is a project of the <a href="http://www.participatorypolitics.org/">Participatory Politics Foundation</a>, a 501(c)3 non-profit organization with a mission to increase civic engagement. From 2007 through 2013, PPF created and operated OpenCongress.org, the most-visited non-profit website in the world for tracking the U.S. Congress. AskThem is a non-partisan project and offers open data for the public benefit. AskThem's development was supported by a charitable grant from the <a href="http://www.knightfoundation.org/">Knight Foundation</a>'s <a href="http://www.knightfoundation.org/funding-initiatives/tech-engagement/">Tech For Engagement</a> initiative.</p>
      <br>
      <p>We are actively seeking charitable funding support to maintain AskThem in 2014 - help us bring good questions to public figures nationwide. We seek to change the civic culture to ask more, and better, questions of people in power. You can help by making a tax-exempt <a href="http://www.knightfoundation.org/">donation to PPF</a>, or <a href="http://www.participatorypolitics.org/contact-ppf/">contact us</a> anytime for our non-profit funding prospectus.</p> 
      <br>
      <p>AskThem is a new forum for online public dialogue and continual connection with the people who represent us. This launch version allows anyone to simply enter a street address and see their elected officials at the federal & state levels of government - and in most major U.S. cities, to see their municipal elected officials as well. Coming soon, our data sources will allow us to display thousands more mayors nationwide, tens of thousands of county government officials, and tens of thousands more city council members nationwide, the most coverage of any open-source website.</p>
      <br>
      <p>What's more, AskThem allows anyone to ask a question to any elected official nationwide - find your question recipients in federal or state government (for example, any U.S. senator, representative, governor, or mayor) from our <a href="askthem.io/map">national map</a> page.</p>
      <br>
      <p>Here's how AskThem works: 
        <ul>
          <li>Individuals and organizations enter a street address on AskThem to find their elected officials and ask them a question, with option to attach an issue category or an image or a video.</p>
          <li>Once created, questions circulate (like online petitions) over email and social media to reach a signature threshold set by AskThem (and continually adjusted based on feedback).</li> 
          <li>When the question reaches its signature threshold, it is briefly reviewed by AskThem staff, and then delivered to the question's recipient over email and social media, with a request to respond publicly on our non-profit platform.</li> 
          <li>Any elected official may sign up to become a verified responder on AskThem, free of charge. Verified responders simply agree to respond to one or two popular questions per month that reach the signature threshold - in most cases, for elected officials, with at least half of signatures coming from constituents.</li>
          <li>Comment forums on question pages with a public response will keep the conversation going, to increase public accountability and raise new issues.</li>
          <li>AskThem users can also ask question to any verified Twitter account, who can similarly sign up for free as verified responders. This includes any public figure from companies to spokespeople to media figures to celebrities.</li>
        </ul>
      </p>
      <br>
      <p>AskThem developers have included: <a href="http://www.participatorypolitics.org/">PPF</a>, <a href="http://opennorth.ca/">Open North</a>, <a href="http://datamade.us/">DataMade</a> and <a href="http://www.democracymap.org/">Democracy Map</a>. Our primary data source for elected officials info is the terrific <a href="https://developers.google.com/civic-information/">Google Civic Information API</a>, as well as the community-maintained in-development Democracy Map API and AskThem's uniquely-aggregated data in more U.S. municipalities. In the past, additional data has been provided by the Sunlight Foundation's <a href="http://opencivicdata.org/">Open Civic Data</a> projects.</p>
      <br>
      <p>AskThem's Advisory Council oversees our non-profit mission to support a community ethos of good questions. AskThem's non-profit Advisory Council includes: Tiffiniy Cheng, President of PPF & Co-director, <a href="http://www.fightforthefuture.org/">Fight For the Future</a>; <a href="http://davidkarpf.com/">Prof. Dave Karpf</a>, Assistant Professor in the School of Media and Public Affairs at George Washington University; <a href="http://nickgrossman.is/">Nick Grossman</a>, of MIT Media Lab & Union Square Ventures; <a href="http://www.nicco.org/">Nicco Mele</a>, of the Harvard University Kennedy School of Government; Prof. <a href="https://twitter.com/zephyrteachout">Zephyr Teachout</a>, of Fordham University Law School; <a href="https://twitter.com/Mlsif">Micah Sifry</a>, of TechPresident; <a href+"https://twitter.com/steiny">Tom Steinberg</a>, of mySociety (UK); <a href="https://twitter.com/antheaws">Anthea Watson-Strong</a>, of Google Civic Information; <a href="http://svi.la/">Susannah Vila</a>, of Engine Room Advocacy; and more to be announced soon.</p>
      <br>
      <p>AskThem takes the privacy of our users seriously, as PPF has been a member of the open-government & civic technology community since 2007. Read our <a href="/terms-of-service">Terms of Use</a> & <a href="/privacy-policy">Privacy Policy</a>.</p>
      <br>
      <p>For more info, visit our </faq>FAQ</a> & check out the <a href="http://www.participatorypolitics.org/blog/">PPF Blog</a>, and <a href="http://www.participatorypolitics.org/contact-ppf/">get in touch</a>.</a>
      <br>
      <p>Follow-along: like AskThem on <a href="https://www.facebook.com/pages/Askthem/538576652878135?ref=hl">Facebook</a>, follow <a href="https://twitter.com/askthemPPF">@AskThemPPF</a> on Twitter, add us on <a href="https://plus.google.com/b/109173535723087289312/109173535723087289312/posts">Google Plus</a>, report an issue or ask a question on our <a href="https://askthem.desk.com/">help desk</a>. Make a tax-exempt <a href="http://www.participatorypolitics.org/donate/">donation to PPF</a> to support AskThem and help us continue our work in responsive government.</p>
    </div>

  <div class="rightCol">
    <h4>Advisory Council</h4>
    <ul>
      <li>
        <div class="avatar">
          <%= image_tag('splash_avatars/micah_sifry.jpg', class: 'avatar') %>
        </div>
        <div class="person-info">
          <h3><a href="https://twitter.com/mlsif" target="_blank">Micah Sifry</a></h3>
          <p>Personal Democracy Media &amp; TechPresident, "<a href="http://goodquestionproject.com/">Good Question Project</a>"</p>
        </div>
      </li>
      <li>
        <div class="avatar">
          <%= image_tag('splash_avatars/zephyr_teachout.jpg', class: 'avatar') %>
        </div>
        <div class="person-info">
          <h3><a href="https://twitter.com/zephyrteachout" target="_blank">Zephyr Teachout</a></h3>
          <p>Associate Law Professor, Fordham Law School &amp; Board member, Participatory Politics Foundation</p>
        </div>
      </li>
      <li>
        <div class="avatar">
          <%= image_tag('splash_avatars/nick_grossman.jpg', class: 'avatar') %>
        </div>
        <div class="person-info">
          <h3><a href="http://nickgrossman.is/" target="_blank">Nick Grossman</a></h3>
          <p>Advocate-In-Residence, Union Square Ventures</p>
        </div>
      </li>
      <li>
        <div class="avatar">
           <%= image_tag('splash_avatars/tiffiniy_cheng.jpg', class: 'avatar') %>
        </div>
        <div class="person-info">
          <h3><a href="http://www.fightforthefuture.org/aboutus/index.html#team" target="_blank">Tiffiniy Cheng</a></h3>
          <p>President &amp; Co-Founder, <a href="http://www.participatorypolitics.org/">PPF</a>; Co-Director, <a href="http://www.fightforthefuture.org/">Fight For the Future</a></p>
        </div>
      </li>
      <li>
        <div class="avatar">
          <%= image_tag('splash_avatars/nicco_mele.jpg', class: 'avatar') %>
        </div>
        <div class="person-info">
          <h3><a href="http://nicco.org/" target="_blank">Nicco Mele</a></h3>
          <p>Entrepreneur &amp; Faculty, Harvard University - Kennedy School of Government</p>
        </div>
      </li>
    <li>
        <div class="avatar">
           <%= image_tag('splash_avatars/anthea_strong.jpg', class: 'avatar') %>
        </div>
        <div class="person-info">
          <h3><a href="https://twitter.com/antheaws" target="_blank">Anthea Watson Strong</a></h3>
          <p>Google Civic Information API & Innovation programs</p>
        </div>
      </li>
  <li>
        <div class="avatar">
          <%= image_tag('splash_avatars/tom_steinberg.jpg', class: 'avatar') %>
        </div>
        <div class="person-info">
          <h3><a href="https://twitter.com/steiny" target="_blank">Tom Steinberg</a></h3>
          <p>Director, <a href="http://www.mysociety.org/">mySociety</a> (UK); <a href="http://www.theyworkforyou.com/">TheyWorkForYou</a></p>
        </div>
      </li>
      <li>
        <div class="avatar">
          <%= image_tag('splash_avatars/susannah_vila.jpg', class: 'avatar') %>
        </div>
        <div class="person-info">
          <h3><a href="https://twitter.com/_svila" target="_blank">Susannah Vila</a></h3>
          <p>Co-Founder, <a href="https://www.theengineroom.org/">Engine Room Advocacy</a>; Civic Engagement Strategist</p>
        </div>
      </li>
	<li>
        <div class="avatar">
          <%= image_tag('splash_avatars/david_karpf.jpg', class: 'avatar') %>
        </div>
        <div class="person-info">
          <h3><a href="http://davidkarpf.com/" target="_blank">David Karpf</a></h3>
          <p>Ass't Prof., George Washington University; Advocacy Researcher</p>
        </div>
      </li>
   	  <li>
        <div class="avatar">
           <%= image_tag('splash_avatars/amanda_michel.jpg', class: 'avatar') %>
        </div>
        <div class="person-info">
          <h3><a href="https://twitter.com/amichel" target="_blank">Amanda Michel</a></h3>
          <p>Open Editor, <a href="http://www.theguardian.com/world/usa">Guardian US</a></p>
        </div>
      </li>
    </ul>
  <h4>AskThem Team</h4>
      <ul>
        <li>
          <div class="avatar">
            <img alt="David_moore" class="avatar" src="assets/splash_avatars/david_moore-431a0064feaf2b9c71d888570856a191.jpg" />
          </div>
          <div class="person-info">
            <h3><a href="https://twitter.com/ppolitics" target="_blank">David Moore</a></h3>
            <p>Program Director; Previously, Director, <a href="http://www.opencongress.org/">OpenCongress.org</a>.</p>
          </div>
        </li>
      <li>
            <div class="avatar">
              <img alt="Walter_mcginnis" class="avatar" src="assets/splash_avatars/walter_mcginnis-0884b4a0157fd2025b37f487a58cc8f4.jpg" />
            </div>
            <div class="person-info">
              <h3><a href="https://twitter.com/wtem" target="_blank">Walter McGinnis</a></h3>
              <p>Technical Director; original developer of <a href="http://old.kete.net.nz/">Kete</a>.</p>
            </div>
          </li>
     <li>
              <div class="avatar">
                <img alt="Steven_trevathan" class="avatar" src="assets/splash_avatars/steven_trevathan-acb47f95d53ce1080b87c28d0570bf1a.jpg" />
              </div>
              <div class="person-info">
                <h3><a href="http://www.stevetrevathan.com/" target="_blank">Steven Trevathan</a></h3>
                <p>Web Developer; Creative Director, <a href="http://dockyard.com/">DockYard</a>.</p>
              </div>
            </li>
         <li>
                  <div class="avatar">
                    <img alt="Josh_segall" class="avatar" src="assets/splash_avatars/josh_segall-b8e59defd2194a40046547acf86fe1a6.jpg" />
                  </div>
                  <div class="person-info">
                    <h3><a href="http://en.wikipedia.org/wiki/Joshua_Segall" target="_blank">Joshua Segall</a></h3>
                    <p>Partnerships Director</p>
                  </div>
                </li>
             <li>
                      <div class="avatar">
                        <img alt="Maryam_gunja" class="avatar" src="assets/splash_avatars/maryam_gunja-fe1b2d1db68428f58a3f74a9e3bd36a0.jpg" />
                      </div>
                      <div class="person-info">
                        <h3><a href="https://twitter.com/maryamgunja" target="_blank">Maryam Gunja</a></h3>
                        <p>Community Manager, Researcher &amp; Outreach Assistant</p>
                      </div>
                    </li>
    </ul>
    <h4 class="splash-team">More AskThem Team</h4>
    <h3><a href="https://twitter.com/derekeder">Derek Eder</a> &amp; <a href="https://twitter.com/evanzanten">Eric van Zanten</a>, <a href="http://datamade.us/">DataMade</a>.</h3><br>
    <h3><a href="https://twitter.com/LoganFaerber">Logan Faerber</a> &amp; <a href="http://dockyard.com/team#cheung">Amanda Cheung</a>, <a href="http://dockyard.com/">DockYard</a>.</h3><br>
    <h3><a href="https://twitter.com/mckinneyjames">James McKinney</a> &amp; <a href="https://twitter.com/elliemarshall">Ellie Marshall</a>, <a href="http://opennorth.ca/">OpenNorth</a></h3><br>
    <h3><a href="https://twitter.com/philipashlock">Phil Ashlock</a>, <a href="http://www.democracymap.org/">DemocracyMap</a></h3><br>
    <h3>Knight Foundation, Tech 4 Engagement program page for <a href="http://www.knightfoundation.org/grants/20121704/">OpenGovernment.org</a></h3>
  </div>
</section>
