<section>
  <!-- <div class="emph_question">
    <div class="wrap">

    </div>
  </div> -->
  <div class="leftCol">
    <header>
      <h2>Top National Questions</h2>
      <ul>
        <li><%= number_with_delimiter @national_answers_count -%> Answers</li>
        <li><%= number_with_delimiter @national_signatures_count -%> Supporters</li>
      </ul>
    </header>
    <ul class="popular_questions">
      <%= render partial: 'question', collection: @national_questions %>
    </ul>
  </div>
  <div class="rightCol">
    <header>
      <h2>Top Questions Near You</h2>
      <ul>
        <li><%= number_with_delimiter @near_answers.count -%> Answers</li>
        <li><%= number_with_delimiter @near_signatures.count -%> Supporters</li>
      </ul>
    </header>
    <ul class="popular_questions">
      <%= render partial: 'question', collection: @near_questions %>
    </ul>
  </div>
  <header>
    <h2>How It Works</h2>
  </header>
  <ol class="how_it_works">
    <li>
      <img src="/assets/how_1@2x.png" alt="" />
      <p><span class="num">1</span>Find your elected officials and ask them a question.</p>
    </li>
    <li>
      <img src="/assets/how_2@2x.png" alt="" />
      <p><span class="num">2</span>Get your family, friends, and neighbors to support it.</p>
    </li>
    <li>
      <img src="/assets/how_3@2x.png" alt="" />
      <p><span class="num">3</span>The elected official's answer will be publicly displayed.</p>
    </li>
  </ol>

  <ul style="display:none;">
    <% @jurisdictions.each do |jurisdiction| %>
      <li>
        <%= link_to jurisdiction['name'], questions_path(jurisdiction.abbreviation) %>
      </li>
    <% end %>
  </ul>
</section>
