<section>
  <!-- <div class="emph_question">
    <div class="wrap">

    </div>
  </div> -->
  <div class="answered-question">
    <a href="#">
      <div class="emph">
        <div class="answered-question-text">
          <a href="http://www.askthem.io/ny-brooklyn/questions/52f7eba9ec8d83370b000002">Answer</a>
          to a public question by
          <a href="http://www.askthem.io/ny-brooklyn/people/52e6914bf92ea10b3900000a">NYC Council member Brad Lander</a>
        </div>
        <div class="avatar">
          <img src="http://d2xfsikitl0nz3.cloudfront.net/http%3A%2F%2Fcouncil.nyc.gov%2Fd39%2Fimages%2Ffeatures%2Fd39lander.jpg/80/80">
        </div>
        <p class="answered-question-subtext">On the issue of affordable housing</p>
      </div>
    </a>
  </div>
  <div class="leftCol">
    <%- if @national_person %>
      <header>
        <h2>Featured</h2>
      </header>
      <ul class="people-list single-featured">
        <%= render @national_person %>
      </ul>
    <%- end %>

    <header>
      <h2>Top National Questions</h2>
      <ul>
        <li><%= number_with_delimiter @national_answers_count -%> Answers</li>
        <li><%= number_with_delimiter @national_signatures_count -%> Supporters</li>
      </ul>
    </header>
    <ul class="popular_questions">
      <%= render partial: 'question', collection: @national_questions %>
    </ul>
  </div>
  <div class="rightCol">
    <%- if @near_person %>
      <header>
        <h2>Here's an Official Near You</h2>
      </header>
      <ul class="people-list single-featured">
        <%= render @near_person %>
      </ul>
    <%- end %>

    <header>
      <h2>Top Questions Near You</h2>
      <ul class="no-extra-top-margin">
        <li><%= number_with_delimiter @near_answers.count -%> Answers</li>
        <li><%= number_with_delimiter @near_signatures.count -%> Supporters</li>
      </ul>
    </header>
    <ul class="popular_questions match-left-top-margin">
      <%= render partial: "question", collection: @near_questions %>

      <% unless @near_questions.any? %>
        <li>
          <%= render partial: "shared/no_questions" %>
        </li>
      <%- end %>
    </ul>
  </div>
  <header>
    <h2>How It Works</h2>
  </header>
  <ol class="how_it_works">
    <li>
      <img src="/assets/how_1@2x.png" alt="" />
      <p><span class="num">1</span>Find your elected officials and ask them a question.</p>
    </li>
    <li>
      <img src="/assets/how_2@2x.png" alt="" />
      <p><span class="num">2</span>Get your family, friends, and neighbors to support it.</p>
    </li>
    <li>
      <img src="/assets/how_3@2x.png" alt="" />
      <p><span class="num">3</span>The elected official's answer will be publicly displayed.</p>
    </li>
  </ol>

  <ul style="display:none;">
    <% @jurisdictions.each do |jurisdiction| %>
      <li>
        <%= link_to jurisdiction['name'], questions_path(jurisdiction.abbreviation) %>
      </li>
    <% end %>
  </ul>
</section>
