<section>
  <%- if @featured_answer %>
    <div class="answered-question">
      <div class="emph">
        <div class="answered-question-text">

          <%= link_to "Answered Question!", question_path(@featured_answer.question.state, @featured_answer.question, anchor: "answer") %>

          From

          <%= link_to "#{@featured_answer.question.person.political_position_title + ' '}#{@featured_answer.question.person.name}",
          person_path(@featured_answer.question.person.state, @featured_answer.question.person),
          anchor: "answer" %>
        </div>
        <div class="avatar">
          <% if @featured_answer.question.person.image? %>
            <%= cdn_image_tag(@featured_answer.question.person.image, size: "80x80", alt: "") %>
          <% end %>
        </div>
        <p class="answered-question-subtext">to "<%= @featured_answer.question.title -%>"</p>
      </div>
    </div>
  <%- end %>
  <div class="leftCol">
    <%- if @national_person %>
      <header>
        <h2>Featured</h2>
      </header>
      <ul class="people-list single-featured">
        <%= render @national_person %>
      </ul>
    <%- end %>

    <header>
      <h2>Top National Questions</h2>
      <ul>
        <li><%= number_with_delimiter @national_answers_count -%> Answers</li>
        <li><%= number_with_delimiter @national_signatures_count -%> Supporters</li>
      </ul>
    </header>
    <ul class="popular_questions">
      <%= render partial: 'question', collection: @national_questions %>
    </ul>
  </div>
  <div class="rightCol">
    <%- if @near_person %>
      <header>
        <h2>Here's an Official Near You</h2>
      </header>
      <ul class="people-list single-featured">
        <%= render @near_person %>
      </ul>
    <%- end %>

    <header>
      <h2>Questions from People Near You</h2>
      <ul class="no-extra-top-margin">
        <li><%= number_with_delimiter @near_answers.count -%> Answers</li>
        <li><%= number_with_delimiter @near_signatures.count -%> Supporters</li>
      </ul>
    </header>
    <ul class="popular_questions match-left-top-margin">
      <%= render partial: "question", collection: @near_questions %>

      <% unless @near_questions.any? %>
        <li>
          <%= render partial: "shared/no_questions" %>
        </li>
      <%- end %>
    </ul>
  </div>
  <header>
    <h2>How It Works</h2>
  </header>
  <ol class="how_it_works">
    <li>
      <img src="/assets/how_1@2x.png" alt="" />
      <p><span class="num">1</span>Find your elected officials and ask them a question.</p>
    </li>
    <li>
      <img src="/assets/how_2@2x.png" alt="" />
      <p><span class="num">2</span>Get your family, friends, and neighbors to support it.</p>
    </li>
    <li>
      <img src="/assets/how_3@2x.png" alt="" />
      <p><span class="num">3</span>The elected official's answer will be publicly displayed.</p>
    </li>
  </ol>

  <ul style="display:none;">
    <% @jurisdictions.each do |jurisdiction| %>
      <li>
        <%= link_to jurisdiction['name'], questions_path(jurisdiction.abbreviation) %>
      </li>
    <% end %>
  </ul>
</section>
