<nav class="questions-or-officials">
  <ul class="level">
    <%- unless @has_partner %>
      <li<%= raw(' class="active"') if !@only_show || @only_show == "questions" -%>>
        <a href="#" id="questions-near">See Questions Near You</a>
        <i class="icon-angle-down"></i>
      </li>
    <%- end %>
  <li<%= raw(' class="active"') if @only_show && @only_show == "people" -%>>
    <%- elected_text = "See Your Elected Officials" %>

    <%- if @has_partner %>
      <%- elected_text = "#{elected_text} and Candidates" %>
    <%- end %>

    <a href="#" id="officials-near"><%= elected_text -%></a>
    <% if @federal_people && @federal_people.count > 0 -%>
      <%= cdn_image_tag(@federal_people.first.image, size: '30x30', alt: '', class: 'preview-avatar') %>
    <% end -%>
    <i class="icon-angle-down"></i></li>
  <%= generic_ask_question 'Ask a Question', { class: 'cta-pill'} unless @only_show %>
  </ul>
</nav>

<section class="questions locator"<%= raw(' style="display:none;"') if @only_show && @only_show != "questions" -%>>
  <ol class="question-list locator-question-list">
    <%= render @questions if @questions %>

    <% if @questions.blank? %>
      <li>
        <%= render partial: "shared/no_questions" %>
      </li>
    <%- end %>
  </ol>
</section>

<section class="officials locator"<%= raw(' style="display:none;"') if !@only_show || @only_show != "people" -%>>
  <%= render partial: "people_for_location",
    locals: { municipality: @municipality,  municipal_people: @municipal_people,
    federal_people: @federal_people, governor: @governor,
    state_people: @state_people } %>
</section>
