<nav class="questions-or-officials">
  <ul class="level">
    <li class="active">
    <a href="#" id="questions-near">See Questions Near You</a>
    <i class="icon-angle-down"></i>
  </li>
  <li>
    <a href="#" id="officials-near">See Your Elected Officials</a>
    <% if @federal_people && @federal_people.count > 0 -%>
      <%= cdn_image_tag(@federal_people.first.image, size: '30x30', alt: '', class: 'preview-avatar') %>
    <% end -%>
    <i class="icon-angle-down"></i></li>
  <%= generic_ask_question 'Ask a Question', { class: 'cta-pill'} %>
  </ul>
</nav>

<section class="questions locator">
  <ol class="question-list locator-question-list">
    <%= render @questions if @questions %>

    <% if @questions.blank? %>
      <li>
        <%= render partial: "shared/no_questions" %>
      </li>
    <%- end %>
  </ol>
</section>

<section class="officials locator" style="display:none;">
  <nav>
    <ul class="level">
      <li class="active" id="federal-people">
        <a href="#">Federal</a>
        <i class="icon-angle-down"></i>
      </li>
      <li id="state-people">
        <a href="#">State</a>
        <i class="icon-angle-down"></i>
      </li>
      <% if @municipal_people && @municipal_people.count > 0 -%>
        <li id="municipal-people">
          <a href="#"><%= @municipality -%></a>
          <i class="icon-angle-down"></i>
        </li>
        <% end -%>
    </ul>
  </nav>
  &nbsp;
  <ol class="people-list federal-people-list">
    <%= render @federal_people %>
  </ol>
  <ol class="people-list state-people-list" style="display:none;">
    <%= render @governor if @governor %>
    <%= render @state_people %>
  </ol>
  <ol class="people-list municipal-people-list" style="display:none;">
    <%# render @mayor if @mayor %>
    <%= render @municipal_people %>
  </ol>
</section>
