<nav class="questions-or-officials">
  <ul class="level">
  <li class="active"><a href="#" id="questions-near">Questions Near <%= @address -%></a>
    <i class="icon-angle-down"></i>
  </li>
  <li><a href="#" id="officials-near">Elected Officials for <%= @address -%></a>
    <i class="icon-angle-down"></i></li>
  </ul>
</nav>

<section class="questions locator">
  <ol class="question-list locator-question-list">
    <%= render @questions %>
  </ol>
</section>

<section class="officials locator" style="display:none;">
  <nav>
    <ul class="level">
      <li class="active" id="federal-people">
        <a href="#">Federal</a>
        <i class="icon-angle-down"></i>
      </li>
      <li id="state-people">
        <a href="#">State</a>
        <i class="icon-angle-down"></i>
      </li>
    </ul>
  </nav>
  &nbsp;
  <ol class="people-list federal-people-list">
    <%# spell out arguments for subclasses of Person sake -%>
    <%= render partial: 'people/person', collection: @federal_people %>
  </ol>
  <ol class="people-list state-people-list" style="display:none;">
    <%# spell out arguments for subclasses of Person sake -%>
    <%= render partial: 'people/person', collection: @state_people %>
  </ol>
</section>
