<section class="locator">
  <h1>Your Elected Officials</h1>
  <nav>
  <ul class="level">
    <li <%= raw('class="active"') if @type == "FederalLegislator" -%> id="federal-people">
      <%= link_to "Federal", url_for(q: @address, type: "FederalLegislator") %>
      <i class="icon-angle-down"></i>
    </li>
    <li <%= raw('class="active"') if @type == "Person" -%> id="state-people">
      <%= link_to "State", url_for(q: @address, type: "Person") %>
      <i class="icon-angle-down"></i>
    </li>
  </ul>
  </nav>
  <ol class="people-list locator-people-list">
    <%# spell out arguments for subclasses of Person sake -%>
    <%= render partial: 'people/person', collection: @people %>
  </ol>
</section>
