<%= render 'shared/navigation' %>

<section>
  <ol>
    <% @committees.asc(:committee, :subcommittee).each do |committee| %>
      <li>
        <%= @jurisdiction.chamber_name(committee['chamber']) %>
        <% if committee['subcommittee'] %>
          <%= link_to committee['committee'], committee_path(@jurisdiction.id, committee['parent_id']) %>:
        <% end %>
        <%= link_to committee.name, committee_path(@jurisdiction.id, committee) %>
        <ul>
          <% committee['members'].each do |member| %>
            <li>
              <%= link_to member['name'], member['leg_id'] %>
              <%= member['role'] %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ol>
</section>
