<header>
  <h1>Sign in</h1>
</header>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'new_session'}) do |f| %>

<div class="data_collection_form">
  <fieldset>
    <div class="pill_wrap">
      <%= f.input :email, placeholder: 'jon@doe.com', label: 'email', required: false %>
    </div>
    <div class="pill_wrap">
      <%= f.input :password %>
    </div>
  </fieldset>
</div>

<div class="controls">
  <%= f.input :remember_me, as: :hidden, input_html: {value: 1} %>
  <%= f.button :submit, 'Sign in', :class => 'cta-pill' %>
  <%= render 'devise/shared/links' %>
</div>

<% end %>
