<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <% if @mail_admin %>
      <h1 style="color:#f00;">This email could not be sent because we don't have an email address for <%= person_attributes(@question.person) %></h1>
    <% end %>
    <h1>A question asked of you by people on AskThem has reached <%= @question.signature_count %> signatures.</h1>

    <dl>
      <dt>Title</dt>
      <dd><%= @question.title %></dd>

      <dt>Topic</dt>
      <dd><%= @question.subject %></dd>

      <dt>Body</dt>
      <dd><%= @question.body %></dd>
    </dl>

    <p>
      <a href="<%= question_url(@question.state, @question.id) %>">Here's a permalink to that question</a>
    </p>
    <p>
        Thank you,
        The AskThem Team
    </p>
  </body>
</html>
