<section>
  <% if @person.image? %>
    <%= cloudfront(@person.image, 150, 200) %>
  <% end %>
  <%= @person.name %>
  <% if @person['party'] %>
    <%= @person['party'] %>
  <% end %>
  <% if @person.summary? %>
    <p><%= @person.summary %></p>
  <% end %>

  <ul>
    <li><%= link_to 'Questions', '#' %></li>
    <li><%= link_to 'Voting Record', '#' %></li>
    <li><%= link_to 'Sponsorship', '#' %></li>
    <li><%= link_to 'News', '#' %></li>
    <li><%= link_to 'Interest Groups', '#' %></li>
  </ul>

  <aside>
    <% if @person.email? %>
    <p>Email: <%= mail_to @person.email %></p>
    <% end %>
  </aside>
</section>
