<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>OpenGovernment</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="main">
    <div class="wrapper">
      <%= link_to 'OpenGovernment', root_path, class: 'logo' %>
      <p class="slogan">Contact everyone who represents you</p>
      <section>
      <% if user_signed_in? %>
        <ul class="admin_nav thin">
          <li><%= link_to 'Your Profile', '#' %><%# @todo %></li>
          <li><%= link_to 'Dashboard', '#' %><%# @todo %></li>
          <li><%= link_to 'Steve T <span class="icon-angle-down"></span>'.html_safe, '#' %><%# @todo %></li>
        </ul>
      <% end %>
      </section>
    </div>
  </header>
  <section>
    <div class="content_body">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <div class="wrapper">
<%= yield %>
      </div>
    </div>
      <% if user_signed_in? %>
      <ul class="admin_nav wide">
        <li><%= link_to 'Your Profile', '#' %><%# @todo %></li>
        <li><%= link_to 'Dashboard', '#' %><%# @todo %></li>
        <li><%= link_to 'Steve T <span class="icon-angle-down"></span>'.html_safe, '#' %><%# @todo %></li>
      </ul>
      <% end %>
  </section>
  
  <footer>
    <div class="wrapper">
      <div class="col">
        <ul>
          <li><%= link_to 'About', '#' %><%# @todo %></li>
          <li><%= link_to 'Blog', '#' %><%# @todo %></li>
          <li><%= link_to 'Support', '#' %><%# @todo %></li>
          <li><%= link_to 'Contact Us', '#' %><%# @todo %></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><%= link_to 'Code &amp; Data'.html_safe, '#' %><%# @todo %></li>
          <li><%= link_to 'Volunteer', '#' %><%# @todo %></li>
          <li><%= link_to 'Donate', '#' %><%# @todo %></li>
          <li><%= link_to 'Bring OG to Your City', '#' %><%# @todo %></li>
        </ul>
      </div>
      <div class="col">
        <ul class="logos">
          <li class="ppf"><%= link_to image_tag('/assets/credit_ppf.png') %></li>
          <li class="opennorth"><%= link_to image_tag('/assets/credit_opennorth.png') %></li>
          <li class="openstates"><%= link_to image_tag('/assets/credit_openstates.png') %></li>
          <li class="knight"><%= link_to image_tag('/assets/credit_kfoundation.png') %></li>
        </ul>
      </div>
      <p>OpenGovernment is a project of the non-profit Participatory Politics Foundation, with Open North as technical lead and generous support from the Knight Foundation. State legislative data from Open States.</p>
    </div>
  <div class="clear"></div>
  </footer>

<%= javascript_include_tag "application" %>
</body>
</html>