<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>OpenGovernment</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="main">
  <div class="wrapper">
    <%= link_to 'OpenGovernment', root_path, class: 'logo' %>
    <p class="slogan">Contact everyone who represents you</p>
    <section>
      <% if user_signed_in? %>
        <ul class="admin_nav">
          <li><%= link_to 'Your Profile', '#' %><%# @todo %></li>
          <li><%= link_to 'Dashboard', '#' %><%# @todo %></li>
          <li><%= link_to 'Steve T <span class="icon-angle-down"></span>'.html_safe, '#' %><%# @todo %></li>
        </ul>
      <% end %>
    </section>
  </div>
</header>

<section>
  <div class="content_body">
    <div class="wrapper">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
<%= yield %>
    </div>
  </div>
</section>

<footer>
</footer>

<%= javascript_include_tag "application" %>
</body>
</html>