<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>OpenGovernment</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="main">
    <div class="wrapper">
      <%= link_to 'OpenGovernment', root_path, class: 'logo' %>
      <p class="slogan">Contact everyone who represents you</p>
      <section>
        <ul class="admin_nav">
          <li><%= link_to 'Your Profile', '#' %></li>
          <li><%= link_to 'Dashboard', '#' %></li>
          <li><%= link_to 'Steve T <span class="icon-angle-down"></span>'.html_safe, '#' %></li>
        </ul>
      </section>
    </div>
  </header>
  <section>
    <div class="content_body">
      <div class="wrapper">
<%= yield %>
      </div>
    </div>
  </section>

  <footer>
    <div class="wrapper">
      <div class="col">
        <h5>Our Principles</h5>
        <ul>
          <li>Free for everyone</li>
          <li>Open-source</li>
          <li>Open standards</li>
          <li>Not-for-profit</li>
          <li>Non-partisan</li>
        </ul>
      </div>
      <div class="col">
        <h5>About Us</h5>
        <ul>
          <li><%= link_to 'Our Data Sources', '#' %></li>
          <li><%= link_to 'Blog', '#' %></li>
          <li><%= link_to 'User Support & Contact', '#' %></li>
          <li><%= link_to 'Join Mailing-list', '#' %></li>
        </ul>
      </div>
      <div class="col">
        <h5>More OpenGovernment</h5>
        <ul>
          <li><%= link_to 'More OpenGovernment', '#' %></li>
          <li><%= link_to 'Twitter & Facebook', '#' %></li>
          <li><%= link_to 'Wiki Community project', '#' %></li>
          <li><%= link_to 'Tools & Goodies', '#' %></li>
          <li><%= link_to 'Our Code & Data', '#' %></li>
        </ul>
      </div>
      <div class="col">
        <h5>Get Involved</h5>
        <ul>
          <li><%= link_to 'Volunteer', '#' %></li>
          <li><%= link_to 'Donate', '#' %></li>
          <li><%= link_to 'OpenGovernment for All 50 States', '#' %></li>
          <li><%= link_to 'OpenCongress.org', '#' %></li>
          <li><%= link_to 'State and Gov Badges', '#' %></li>
        </ul>
      </div>
    </div>
  </footer>

</body>
</html>