<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <%= render "shared/chartbeat" -%>
  <%= render "shared/optimizely" -%>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="dns-prefetch" href="//connect.facebook.net">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta name="author" content="Participatory Politics Foundation">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:site_name" content="AskThem">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= current_url %>">
  <meta property="og:image" content="http://askthem.io/assets/logo.svg">
  <meta property="og:locale" content="en_US">
  <meta property="fb:admins" content="<%= ENV["FACEBOOK_ADMINS_ID"] -%>">
  <meta property="fb:app_id" content="<%= ENV["FACEBOOK_APP_ID"] -%>">
  <%- if ENV["BLITZ_AUTHORIZATION_META"].present? %>
    <%= raw(ENV["BLITZ_AUTHORIZATION_META"]) %>
  <%- end %>
  <%= javascript_include_tag 'modernizr-2.5.3.min.js' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="index">
  <div id="fb-root"></div>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <header class="main">
    <section class="mobile_admin_nav">
      <%= link_to 'AskThem', root_path, class: 'logo' %>
      <a href="#top" class="expose_nav icon-reorder"></a>
      <ul class="admin_nav thin">
        <%= render partial: 'shared/user' %>
      </ul>
    </section>
    <div class="wrapper">
      <%= link_to 'AskThem', root_path, class: 'logo' %>
      <div class="find_questions">
        <h1>Ask questions<br/> and get answers</h1>
        <p>to all your elected officials and verified Twitter accounts</p>
        <form action="/locator">
          <input type="text" name="q" id="q" placeholder="Enter City and State, or ZIP code" />
          <input type="submit" value="Search" class="cta-pill" />
          <div class="ask_question">
            <span>–or–</span>
            <%= generic_ask_question 'Ask your own Question', { class: 'cta-pill'} %>
          </div>
        </form>
      </div>
    </div>
    <div class="clear"></div>
  </header>
  <section>
    <div class="content_body">
      <div class="wrapper">
        <%= yield %>
      <div class="clear"></div>
      </div>
    </div>
  </section>

  <footer>
    <div class="wrapper">
      <div class="col">
        <ul>
          <li><%= link_to 'About', '/about' %><%# @todo DM %></li>
          <li><%= link_to 'Blog', 'http://participatorypolitics.org/blog' %></li>
          <li><%= link_to 'Support', '/support' %><%# @todo DM %></li>
          <li><%= link_to 'FAQ\'s', '/faq' %></li>
          <li><%= link_to 'Contact Us', 'http://www.participatorypolitics.org/contact' %></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><%= link_to 'View All States', '/map' %></li>
          <li><%= link_to 'Code & Data', 'https://github.com/opengovernment' %><%# @todo DM %></li>
          <li><%= link_to 'Volunteer', 'http://www.participatorypolitics.org/contact' %><%# @todo DM %></li>
          <li><%= link_to 'Donate', 'http://www.participatorypolitics.org/donate' %></li>
          <li><%= link_to 'Bring AskThem to Your City', 'http://www.participatorypolitics.org/contact' %></li>
        </ul>
      </div>
      <div class="col logos">
        <ul class="logos">
          <li class="ppf"><%= link_to image_tag('credit_ppf.png', alt: 'Participatory Politics Foundation'), 'http://www.participatorypolitics.org/' %></li>
          <li class="knight"><%= link_to image_tag('credit_kfoundation.png', alt: 'John S. and James L. Knight Foundation'), 'http://www.knightfoundation.org/' %></li>
          <p>Data Partners</p>
          <li class="google"><%= link_to image_tag('credit_google.png', alt: 'Google'), 'https://developers.google.com/civic-information/' %></li>
          <li class="dmap"><%= link_to image_tag('credit_dmap.png', alt: 'Democracy Map'), 'http://www.democracymap.org/' %></li>
        </ul>
      </div>
      <p>AskThem is a project of the <a href="http://www.participatorypolitics.org/">Participatory Politics Foundation</a>, a 501(c)3 non-profit organization, with support from the <a href="http://www.knightfoundation.org/">Knight Foundation</a>'s <a href="http://www.knightfoundation.org/funding-initiatives/tech-engagement/">Tech For Engagement</a> initiative. AskThem is free, open-source, non-profit, and non-partisan, with open data for civic engagement.</p>
    </div>
    <div class="clear"></div>
  </footer>

<%= render "shared/facebook_connect" %>

<%= javascript_include_tag 'application' %>

<%= render "shared/google_analytics" %>

</body>
</html>
