<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="dns-prefetch" href="//connect.facebook.net">
  <title>AskThem</title>
  <meta name="description" content="<%= description %>">
  <meta name="author" content="Participatory Politics Foundation">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:site_name" content="AskThem">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= current_url %>">
  <meta property="og:image" content="<%= og_image %>">
  <meta property="og:locale" content="en_US">
  <meta property="fb:admins" content="100002666906486">
  <meta property="fb:app_id" content="124751554385930">
  <%= javascript_include_tag 'modernizr-2.5.3.min.js' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="splash">
  <header class="main">
    <section class="mobile_admin_nav">
      <%= link_to 'OpenGovernment', root_path, class: 'logo' %>
    </section>
    <div class="wrapper">
      <%= link_to 'OpenGovernment', root_path, class: 'logo' %>
      <div class="news_signup" id="news_signup">
        <div class="leftCol">
          <h1 id="dynamic-title">The "We The People" for every elected official.</h1>
          <p id="dynamic-subtitle">Get notified and be the first to submit a question when we launch.</p>
          <nav>
            <ul class="level">
              <li class="active" data-type="individual">
                <a href="#" id="individual-signup">Individual</a>
                <i class="icon-angle-down"></i>
              </li>
              <li data-type="elected_official">
                <a href="#" id="official-signup">Elected Official</a>
                <i class="icon-angle-down"></i>
              </li>
              <li data-type="organization">
                <a href="#" id="organization-signup">Organization or Media</a>
                <i class="icon-angle-down"></i>
              </li>
            </ul>
          </nav>
          <form action="/ma/questions" class='splash-form'>
            <input type="email" name="email" id="email" placeholder="E-mail">
            <input type="text" name="zipcode" id="zipcode" placeholder="Zipcode (optional)">
            <input type="hidden" name="notify_type" id="notify_type" value="individual">
            <input type="submit" value="Notify Me" class="cta-pill">
            <div id="dynamic-link"></div>
          </form>
        </div>
        <div class="rightCol">
          <p id="dynamic-text">The White House's "We The People" petition platform has engaged over 8 million people. Now it's not just for Presidents anymore.  We're bringing it nationwide, free and open for everyone.<br><br>Ask questions to over 100,000 elected officials. Vote up the questions you care about. Also, question and petition any verified Twitter account.</p>
      	</div>
      </div>
    </div>
    <div class="clear"></div>
  </header>
  <nav class="scroll_content below">
    <a href="/splash#content_body" class="show_below">How It Works</a>
  </nav>
  <nav class="scroll_content above" style="display:none;">
    <a href="/splash#" class="show_above">Get Notified</a>
  </nav>
  <section id="content_body">
    <div class="content_body header">
      <h2>About the <br/>Project &amp; Team</h2>
    </div>
    <div class="content_body">
      <div class="wrapper">
        <div class="leftCol">
          <%= yield %>
          <h3 class='splash-shares'>Help us spread the word!</h3>
          <a href="mailto:?subject=Get notified when AskThem launches&body=AskThem is a new question-and-answer website with public figures. It&#039;s free, open-source, and not-for-profit.%0D%0A%0D%0ASign up here to be notified when it launches this Fall and be the first to ask a question to the people who represent you in government &#058;&#058;%0D%0A%0D%0Aaskthem.io%0D%0A%0D%0A&#133;it's like a version of the &#147;We The People&#148; petition platform for every elected official. You can target over 100,000 elected officials nationwide with questions and petitions, from local city council members all the way up to U.S. senators.%0D%0A%0D%0AAskThem is a project of the Participatory Politics Foundation, the 501(c)3 non-profit organization that created OpenCongress.org and OpenGovernment.org." target="_blank" class='splash-share cta-pill'>
            <i class='icon-envelope-alt'></i>
            Email
          </a>
          <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://askthem.io/&p[images][0]=&p[title]=Get%20notified%20when%20AskThem%20launches&p[summary]=AskThem%20is%20a%20new%20question-and-answer%20website%20with%20public%20figures.%20It's%20free,%20open-source,%20and%20not-for-profit.%0A%0ASign%20up%20here%20to%20be%20notified%20when%20it%20launches%20this%20Fall%20and%20be%20the%20first%20to%20ask%20a%20question%20to%20the%20people%20who%20represent%20you%20in%20government%20::%0A%0Aaskthem.io" target="_blank" class='splash-share cta-pill cta-pill-facebook'>
            <i class='icon-facebook'></i>
            Share on Facebook
          </a>
          <a href='https://twitter.com/share?text=Get notified when AskThem launches, for question-and-answer and petitions with public figures&#058; askthem.io.' target="_blank" class='splash-share cta-pill cta-pill-twitter'>
            <i class='icon-twitter'></i>
            Tweet your Followers
          </a>
        </div>
        <div class="rightCol">
          <h4>Advisory Council</h4>
          <ul>
            <li>
              <div class="avatar">
                <%= image_tag('splash_avatars/micah_sifry.jpg', class: 'avatar') %>
              </div>
              <div class="person-info">
                <h3><a href="https://twitter.com/mlsif" target="_blank">Micah Sifry</a></h3>
                <p>Personal Democracy Media &amp; TechPresident, "Good Question Project"</p>
              </div>
            </li>
            <li>
              <div class="avatar">
                <%= image_tag('splash_avatars/zephyr_teachout.jpg', class: 'avatar') %>
              </div>
              <div class="person-info">
                <h3><a href="https://twitter.com/zephyrteachout" target="_blank">Zephyr Teachout</a></h3>
                <p>Associate Law Professor, Fordham Law School &amp; Board member, Participatory Politics Foundation</p>
              </div>
            </li>
            <li>
              <div class="avatar">
                <%= image_tag('splash_avatars/nick_grossman.jpg', class: 'avatar') %>
              </div>
              <div class="person-info">
                <h3><a href="http://nickgrossman.is/" target="_blank">Nick Grossman</a></h3>
                <p>Advocate-In-Residence, Union Square Ventures</p>
              </div>
            </li>
		       	<li>
              <div class="avatar">
                 <%= image_tag('splash_avatars/tiffiniy_cheng.jpg', class: 'avatar') %>
              </div>
              <div class="person-info">
                <h3><a href="http://www.fightforthefuture.org/aboutus/index.html#team" target="_blank">Tiffiniy Cheng</a></h3>
                <p>PPF President &amp; Fight For the Future Co-Director</p>
              </div>
            </li>
	       		<li>
              <div class="avatar">
                <%= image_tag('splash_avatars/nicco_mele.jpg', class: 'avatar') %>
              </div>
              <div class="person-info">
                <h3><a href="http://nicco.org/" target="_blank">Nicco Mele</a></h3>
                <p>Entrepreneur &amp; Faculty, Harvard University - Kennedy School of Government</p>
              </div>
            </li>
	    	<h4>AskThem Staff</h4>
	          <ul>
	            <li>
	              <div class="avatar">
	                <img alt="David_moore" class="avatar" src="assets/splash_avatars/david_moore-431a0064feaf2b9c71d888570856a191.jpg" />
	              </div>
	              <div class="person-info">
	                <h3><a href="https://twitter.com/ppolitics" target="_blank">David Moore</a></h3>
	                <p>Program Director; previously, Director, <a href="http://www.opencongress.org/">OpenCongress.org</a>.</p>
	              </div>
	            </li>
				    <li>
		              <div class="avatar">
		                <img alt="Walter_mcginnis" class="avatar" src="assets/splash_avatars/walter_mcginnis-0884b4a0157fd2025b37f487a58cc8f4.jpg" />
		              </div>
		              <div class="person-info">
		                <h3><a href="https://twitter.com/wtem" target="_blank">Walter McGinnis</a></h3>
		                <p>Technical Director; original developer of <a href="http://old.kete.net.nz/">Kete</a>.</p>
		              </div>
		            </li>
					 <li>
			              <div class="avatar">
			                <img alt="Steven_trevathan" class="avatar" src="assets/splash_avatars/steven_trevathan-acb47f95d53ce1080b87c28d0570bf1a.jpg" />
			              </div>
			              <div class="person-info">
			                <h3><a href="http://www.stevetrevathan.com/" target="_blank">Steven Trevathan</a></h3>
			                <p>Web Developer & User Experience; Creative Director, <a href="http://dockyard.com/">DockYard</a>.</p>
			              </div>
			            </li>
							 <li>
					              <div class="avatar">
					                <img alt="Josh_segall" class="avatar" src="assets/splash_avatars/josh_segall-b8e59defd2194a40046547acf86fe1a6.jpg" />
					              </div>
					              <div class="person-info">
					                <h3><a href="http://en.wikipedia.org/wiki/Joshua_Segall" target="_blank">Joshua Segall</a></h3>
					                <p>Partnerships Director; Outreach & Business Development.</p>
					              </div>
					            </li>
									 <li>
							              <div class="avatar">
							                <img alt="Maryam_gunja" class="avatar" src="assets/splash_avatars/maryam_gunja-fe1b2d1db68428f58a3f74a9e3bd36a0.jpg" />
							              </div>
							              <div class="person-info">
							                <h3><a href="https://twitter.com/maryamgunja" target="_blank">Maryam Gunja</a></h3>
							                <p>Researcher & Outreach Assistant; Community Manager.</p>
							              </div>
							            </li>
          </ul>
          <h4 class="splash-team">Previous Contributors</h4>
          <h3><a href="https://twitter.com/derekeder">Derek Eder</a> &amp; <a href="https://twitter.com/evanzanten">Eric van Zanten</a>, <a href="http://datamade.us/">DataMade</a>.</h3>
          <h3><a href="https://twitter.com/LoganFaerber">Logan Faerber</a> &amp; <a href="http://dockyard.com/team#cheung">Amanda Cheung</a>, <a href="http://dockyard.com/">DockYard</a>.</h3>
          <h3><a href="https://twitter.com/mckinneyjames">James McKinney</a> &amp; <a href="https://twitter.com/elliemarshall">Ellie Marshall</a>, <a href="http://opennorth.ca/">OpenNorth</a></h3>
          <h3><a href="https://twitter.com/philipashlock">Phil Ashlock</a>, <a href="http://www.democracymap.org/">DemocracyMap</a></h3>
          <h3>Knight Foundation, Tech 4 Engagement program page for <a href="http://www.knightfoundation.org/grants/20121704/">OpenGovernment.org</a></h3>
        </div>
      <div class="clear"></div>
      </div>
    </div>
  </section>
  <div class="shade_pos">
    <div class="shade"></div>
  </div>
  <script type="text/javascript">
    function newsSignUpHeight(){
      var wheight = window.innerHeight;
      elem = document.getElementById('news_signup');
      var newPad = ((wheight - elem.offsetHeight)/2) - 50;
      elem.style.paddingTop = newPad + 'px';
      elem.style.paddingBottom = newPad + 'px';
      document.getElementById('content_body').style.opacity = 0;
    }
    if (document.body.clientWidth > 420){
      newsSignUpHeight();
    }
  </script>
  <%= javascript_include_tag 'application' %>

  <script type="text/javascript">
    if($(document).width() > 420){
      $(window).resize(function(){
        var wheight = window.innerHeight;
        elem = $('#news_signup');
        var newPad = ((wheight - elem.height())/2) - 115;
        $(elem).css('paddingTop', newPad);
        $(elem).css('paddingBottom', newPad);
      });

      didScroll = false;

      $(window).scroll(function(){
          didScroll = true;
      });

      var oldLeft = $('a.logo').css('left');
      var topSet = 395;

      setInterval(function(){
          if( didScroll ) {
              scrollPoint = $(window).scrollTop();

              scrollBG = 160 - (scrollPoint * .09) + '%';
              pAlpha = 1 - (scrollPoint * .005);
              cAlpha = 0 + (scrollPoint * .0025);

              if (160 - (scrollPoint * .05) < 160){
                scrollBG = '100%';
              }

              $('body.splash').css('background-position', '50% ' + scrollBG + '');
              $('header.main div.rightCol p').fadeTo(0, pAlpha);
              $('header.main div.leftCol, .scroll_content.below').fadeTo(0, pAlpha);

              $('section#content_body, .scroll_content.above').fadeTo(0, cAlpha);

              if ($('.content_body.header h2').offset().top <= scrollPoint + 120 && !$('a.logo').hasClass('stick')){
                $('a.logo').css({
                  'position': 'absolute',
                  'left': 0,
                  'top': topSet
                }).addClass('stick');
              }else{
                if ($('.content_body.header h2').offset().top >= scrollPoint + 120){
                  $('a.logo').css({
                    'position': 'relative',
                    'left': oldLeft,
                    'top': 'auto'
                  }).removeClass('stick');
                }
              }

              didScroll = false;
          }
      }, 50);
    }
  </script>

  <script type="text/javascript">
    $('.show_below').click(function(e){
      e.preventDefault();
      $('html, body').animate({
        scrollTop: $("#content_body").offset().top - 80
      }, 1000);
    });
  </script>

  <script type="text/javascript">
    $('.show_above').click(function(e) {
      e.preventDefault();
      $('html, body').animate({
        scrollTop: 0
      }, 1000);
    });
  </script>

  <script type="text/javascript">
    $('.splash .level li').click(function(){
      $('.splash .level li').removeClass('active');
      var $this = $(this);
      $this.addClass('active');
      $('#notify_type').val($this.data('type'));
    });
  </script>

  <script type="text/javascript">
    $("#individual-signup").click(function(e) {
      $("#dynamic-title").html("The &quot;We The People&quot; for every elected official.");
      $("#dynamic-subtitle").html("Get notified and be the first to submit a question when we launch.");
      $("#dynamic-text").html("The White House's &quot;We The People&quot; petition platform has engaged over 8 million people. Now it's not just for Presidents anymore. We're bringing it nationwide, free and open for everyone.<br><br>Ask questions to over 100,000 elected officials. Vote up the questions you care about. Also, question and petition any verified Twitter account.");
      $("#dynamic-link").html("");
      e.preventDefault();
    })

    $("#official-signup").click(function(e) {
      $("#dynamic-title").html("A New &amp; Powerful Way To Engage With Constituents");
      $("#dynamic-subtitle").html("Interested in joining? Enter your contact info and we'll be in touch.");
      $("#dynamic-text").html("AskThem is your personal question-and-answer site, offering greater access to your constituents and your potential supporters across the nation. Agree to respond publicly to any question with enough votes to meet your signature threshold. Energize constituents and build support for your positions.");
      $("#dynamic-link").html("<a href='https://docs.google.com/forms/d/1iCRzEuDL6bGEkmMsTVrlH-DlQYnMX4KhSF32_tPgT8o/viewform' style='position: relative; top: 1.75em; left: 1em;'>Or, sign up now to become a verified responder</a>");
      e.preventDefault();
    })

    $("#organization-signup").click(function(e) {
      $("#dynamic-title").html("The &quot;We The People&quot; for every elected official.");
      $("#dynamic-subtitle").html("Get notified and be the first to submit a question when we launch.");
      $("#dynamic-text").html("The White House's &quot;We The People&quot; petition platform has engaged over 8 million people. Now it's not just for Presidents anymore. We're bringing it nationwide, free and open for everyone.<br><br>Ask questions to over 100,000 elected officials. Vote up the questions you care about. Also, question and petition any verified Twitter account.");
      $("#dynamic-link").html("");
      e.preventDefault();
    })
  </script>

</body>
